workflows1/Actions Typebot.json
{
  "active": false,
  "connections": {
    "get Evo InstanceName": {
      "main": [
        [
          {
            "node": "Change Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Change Session Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfoBase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "InfoBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inbox": {
      "main": [
        [
          {
            "node": "get Evo InstanceName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Session Status2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Session Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-09T21:52:29.494Z",
  "id": "Z6Jtb2AHKE9NJBz4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Actions Typebot",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nlet webhook = $input.item.json.webhook_url.split('/');\nlet instance_name = webhook[webhook.length-1];\n\nreturn {'instance_name': instance_name};"
      },
      "id": "fc5093d9-4e79-42cf-b871-a1fde252ebeb",
      "name": "get Evo InstanceName",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "000c57bc-817e-41ee-8a97-29df0bec6b7a",
              "leftValue": "={{ $json.instance_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64cb9511-07de-455e-bfdb-58acbb45df12",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdb215d0-f02f-42c1-ae93-30662932739b",
              "name": "evolution_api",
              "value": "https://apiwp.wmst.com.br",
              "type": "string"
            },
            {
              "id": "d4921eaf-cccf-4f6d-a775-b61eb73cae50",
              "name": "evolution_key",
              "value": "PxzMJa1fEWPgCdgpGjz7kftLwaV857RI",
              "type": "string"
            },
            {
              "id": "2d02f093-8695-4993-b348-24b3d058b098",
              "name": "remoteJid",
              "value": "={{ $json.body.meta.sender.identifier }}",
              "type": "string"
            },
            {
              "id": "c8216b6e-b22f-40c7-8d5f-4f5a71eedf6b",
              "name": "status",
              "value": "={{ $json.query.status }}",
              "type": "string"
            },
            {
              "id": "ccf9d9d3-06b0-4cf5-8627-b0d9fca52360",
              "name": "chatwoot_url",
              "value": "https://chat.wmst.com.br/api/v1",
              "type": "string"
            },
            {
              "id": "f7c0af75-abb7-454a-abe7-6474b6368db0",
              "name": "chatwoot_account_id",
              "value": "={{ $json.body.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "948d3084-0135-4101-ac9e-39c241f12bfe",
              "name": "chatwoot_inbox_id",
              "value": "={{ $json.body.inbox_id }}",
              "type": "string"
            },
            {
              "id": "d9829ffb-1f2f-49de-bb1f-86658df0382f",
              "name": "instance_name",
              "value": "={{ $json.query.instance_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d948f17a-50b1-475d-8dc9-37dd919be055",
      "name": "InfoBase",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Fluxo de Mudança de Status do Typebot usando Macro no Chatwoot baseado nas INBOXES\n\n### Info Base\nPreencha as informações:\n\n- `evolution_api`: URL da sua Evolution (sem a barra '/' no final).\n- `chatwoot_url`: URL do seu Chatwoot (sem a barra '/' no final).\n\n### Requisição Enviada\nNa requisição enviada, inclua apenas:\n\n- `status`: Pode ser `opened`, `paused`, ou `closed`.\n- `instance_name`: Opcional. Se não for enviado, o sistema localizará a instância com base no webhook do inbox.\n\n### Credenciais\nAdicione duas credenciais do tipo **Generic Credential Type** (Header Auth):\n\n- `api_access_token`: **Chatwoot Access Token**\n- `apikey`: **Evolution Api Key**",
        "height": 521.2441860465121,
        "width": 843.872093023256
      },
      "id": "0aa69c75-6255-4b75-8ce6-b51a89ff3cb7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        -460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot_session",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "db622c93-79a3-4b48-8294-330759753414",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        280
      ],
      "webhookId": "5c5bd678-79e4-4f58-b3e6-477b7de8f274"
    },
    {
      "parameters": {
        "url": "={{ $json.chatwoot_url }}/accounts/{{ $json.chatwoot_account_id }}/inboxes/{{ $json.chatwoot_inbox_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "12e3003a-e1b3-4b99-b800-821722f95e09",
      "name": "Get Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qRZThWnTeZTtL7dZ",
          "name": "Chatwoot Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('InfoBase').first().json.evolution_api }}/typebot/changeStatus/{{ $json.instance_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('InfoBase').first().json.remoteJid }}"
            },
            {
              "name": "status",
              "value": "={{ $('InfoBase').first().json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f09f06c3-ddcd-4314-88d2-c089be5c3d2f",
      "name": "Change Session Status2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "1d9b9c80-651b-4058-a028-cb5ceb2adcee",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "239e2aab-76c1-4102-8e9f-99be5d15e0dc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1740,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('InfoBase').first().json.evolution_api }}/typebot/changeStatus/{{ $json.instance_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('InfoBase').first().json.remoteJid }}"
            },
            {
              "name": "status",
              "value": "={{ $('InfoBase').first().json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee4d7157-e1b8-4b81-b547-aecea74fb5ef",
      "name": "Change Session Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-08T13:47:26.139Z",
  "versionId": "1c9ec966-ccaa-490d-9927-0393483681ad"
}