workflows1/Calendar Agent copy.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule meeting with an Attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch my Schedule": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-09T10:51:29.745Z",
  "id": "5qWNKrVoQddqvVGA",
  "meta": null,
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "dc394b60-85bd-4b07-aa70-7dfba579a120",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -80
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "27ccc725-8a32-478c-93c2-c37bb723039e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -180,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "cdwc6Hh6aUKkk28V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "asfand@zumasales.com",
          "mode": "list",
          "cachedResultName": "asfand@zumasales.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "id": "1ef8c9c0-de25-4cd6-aec5-88c1abb1e4a8",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        -40,
        160
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "asfand@zumasales.com",
          "mode": "list",
          "cachedResultName": "asfand@zumasales.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "id": "73d3fa80-8050-4e61-b3e9-7456f242dd39",
      "name": "Schedule meeting with an Attendee",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        100,
        140
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within the calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them.\n\n\n\n"
        }
      },
      "id": "f61cdab3-d8cc-449c-ac87-139a9f6172d9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -120,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "asfand@zumasales.com",
          "mode": "list",
          "cachedResultName": "asfand@zumasales.com"
        },
        "options": {
          "timeMin": "={{ $fromAI(\"oneDayBefore\", \"one day before the user request\") }}",
          "timeMax": "={{ $fromAI(\"oneDayAfter\", \"one day After the user request\") }}"
        }
      },
      "id": "80f178f7-d9d3-4d41-a8f8-7d2878f3ce96",
      "name": "Fetch my Schedule",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        220,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b14d4bd-71db-42d1-a7f8-6f9827e91996",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3cd6fd35-04e3-4d90-a40b-5413e6a975fb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -80
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "get my events from tomorrow "
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-09T10:52:47.643Z",
  "versionId": "0b72c899-a546-4a8e-822e-507823137c62"
}