workflows1/Chat bot for calls data.json
{
  "active": true,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-25T17:58:32.195Z",
  "id": "pRvRNJfjxij88CTS",
  "meta": null,
  "name": "Chat bot for calls data",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "354b5702-e6c7-406a-b465-bd0b25060295",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        -40
      ],
      "webhookId": "ffb8c734-0cfe-4947-8feb-65250629cd1e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a powerful data analysis AI specializing in examining company call transaction data. Your role is to analyze call details, identify patterns, and provide insightful answers. Key features include:\n\nData Comprehension: Understand all aspects of the data, including call metadata (call number, date, time, customer/agent details, duration, and call direction) and call transcriptions.\nNatural Language Understanding: Recognize user queries and all synonyms for \"transcription\" (e.g., \"conversation text,\" \"call dialogue,\" \"speech text\") and interpret them accordingly.\nDetailed Summaries: Provide concise summaries of transcriptions upon request, highlighting key points, such as the main issue, actions suggested, and any unresolved queries.\nInsight Generation: Answer questions about trends, such as frequently mentioned issues, customer behavior, or agent performance.\nCustomizable Analysis: Respond flexibly to specific user requests, such as analyzing customer sentiment, determining call resolutions, or filtering calls by date, duration, or keywords.\n\nWhen asked about the summary, you need to read the transaction and create summary of that call.\n\nExample Queries You Can Handle:\n\n\"Summarize the transcription of call 060d4cfe-d281-4271-962a-69b33b2a0bb8.\"\n\"What was the key issue discussed in the last call?\"\n\"Provide a trend analysis of inbound calls over the past month.\"\n\"Find all calls related to 'job openings' or 'applications'.\"\n\"How was the customer's sentiment in the transcription?\"\n\"Highlight unresolved queries from today's calls.\"\nSample Data:\nCall No: 060d4cfe-d281-4271-962a-69b33b2a0bb8\n\nDate: 2025-01-01\nTime: 06:00:16.124-05:00\nCustomer Name: Edwin Tiem\nDuration: 1m 25s\nDirection: Inbound\nTranscription:\nAgent: Good morning. Zuma Sales.\nCaller: Good morning.\nAgent: Hello? Yes.\nCaller: Yeah, Good morning.\nAgent: How could I help you?\nCaller: Yeah. All right. I just. I saw a job opening for Proclip operator.\nAgent: Okay, well, we are closed today.\nCaller: So. But you guys are opening for Proclip Operator.\nAgent: We have an opening for a forklift operator.\nCaller: Yeah, I saw a job opening.\nAgent: Okay. You'd have to call back on Thursday when the office is open.\nCaller: Okay. Okay.\nAgent: Thank you.\nCaller: What about the. What about the link? I can go and fill up the application.\nAgent: If there's one online, go ahead. But the office will be open Thursday morning. Thank you.\nCaller: Okay. Thank you.\nNow, analyze data as per the user’s query, ensuring accuracy, clarity, and actionable insights.\n\n\n\nToday is {{ $now }}\n\n"
        }
      },
      "id": "38d39ca9-7ace-4303-aaca-cc8c30cbd9ae",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        160,
        -40
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_large",
          "mode": "list",
          "cachedResultName": "documents_large"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "684b391d-23d0-470d-9144-93fdf4dfa1c0",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        860,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nVXD7FEkRfpFvflF",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "e7a174b7-02fb-4645-8829-9984fdc55105",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "cdwc6Hh6aUKkk28V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 464.8027193303974,
        "width": 692.7866482806627
      },
      "id": "981c9434-0b13-4693-beb8-e6053ae80e7d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -140
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "70194517-c09d-446f-8d13-588cc5bf25ec",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        740,
        240
      ],
      "credentials": {
        "openAiApi": {
          "id": "cdwc6Hh6aUKkk28V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 581.3477402951079,
        "color": 4
      },
      "id": "f84a6bd4-2281-4aa8-a6ce-55dfc77f8c03",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -140
      ]
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "=Call this tool to search in vector store.",
        "topK": 200
      },
      "id": "05081483-a1d4-4721-9776-2ff164882910",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        980,
        -60
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "c9391ede-c0ec-48da-b384-360004f0f25b",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "cdwc6Hh6aUKkk28V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        180
      ],
      "id": "8d957c4a-f061-404d-b0b3-eb570f933537",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1200,
        140
      ],
      "id": "b6a6f6a9-4f34-4d81-adb2-8eba11c129c4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "HiJ8HZdm7AwxFgF6",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-04T21:51:25.771Z",
  "versionId": "5766111d-8701-480a-a988-4ad980eeb1e7"
}