workflows1/Imap email.json
{
  "active": false,
  "connections": {
    "Trigger @ 2AM": {
      "main": [
        [
          {
            "node": "24hrsBefore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24hrsBefore": {
      "main": [
        [
          {
            "node": "configurableFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "configurableFields": {
      "main": [
        [
          {
            "node": "GetEmails24hrsAgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEmails24hrsAgo": {
      "main": [
        [
          {
            "node": "checkForAttachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkForAttachments": {
      "main": [
        [
          {
            "node": "checkForpdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkForpdf": {
      "main": [
        [
          {
            "node": "loopEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopEmails": {
      "main": [
        [],
        [
          {
            "node": "emailUid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadAttachments": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "moveFolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "moveFolder": {
      "main": [
        [
          {
            "node": "loopEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailUid": {
      "main": [
        [
          {
            "node": "downloadAttachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-04T11:36:12.956Z",
  "id": "vVohkgM0uqNSdYmI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Imap email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "0a21fb2e-57c3-41d1-b896-7b0aa3ab9e93",
      "name": "Trigger @ 2AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        740
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ebcf07b-c9f0-46c8-a6c4-d00c0d0b39f0",
              "name": "from",
              "value": "={{ $now.minus(1, \"day\").format('yyyy-MM-dd\\'T\\'HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "30a790ec-94ea-4bec-a8e8-c523b2542013",
      "name": "24hrsBefore",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20836f83-2829-4e9f-b691-63cb95c7cbad",
              "name": "email (email to send the attchment)",
              "value": "gaturanjenga@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "32d33bad-9a6c-458d-8c4a-f382aa75a314",
      "name": "configurableFields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        740
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "value": "INBOX",
          "mode": "list",
          "cachedResultName": "INBOX"
        },
        "emailDateRange": {
          "since": "={{ $('24hrsBefore').item.json.from }}"
        },
        "emailFlags": {},
        "emailSearchFilters": {},
        "includeParts": [
          "attachmentsInfo"
        ]
      },
      "id": "d3456753-c48a-4537-b772-b2b59ca98b65",
      "name": "GetEmails24hrsAgo",
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        240,
        740
      ],
      "credentials": {
        "imapApi": {
          "id": "7cOl7KbWcNg3Fz8R",
          "name": "gatura@bulkbox.co.ke - test imap"
        }
      }
    },
    {
      "parameters": {
        "content": "## Set Trigger\n## Set Time 24 hours ago for filtering when getting emails\n## Set the email Address to send to",
        "height": 292.25,
        "width": 804.5
      },
      "id": "35155997-5e45-4c5d-af28-4af9177c371e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe2d117d-fd3b-48b2-bc61-0c3d261ac3d2",
              "leftValue": "={{ $json.attachmentsInfo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d84dac6d-b59e-4f89-ba54-1a53aa893f70",
      "name": "checkForAttachments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        460,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c79b97ee-8864-4469-988d-1908be62df8a",
              "leftValue": "={{ $json.attachmentsInfo[0].filename }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "26d14369-229c-4a60-8136-246b42d3d3ce",
      "name": "checkForpdf",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Filter for attachments and check for pdf files.",
        "height": 263,
        "width": 387,
        "color": 3
      },
      "id": "bb207064-8196-47e9-b1b6-c4d0d373db2f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "747aefe3-9ba2-4f04-8c3d-93afd2b47136",
      "name": "loopEmails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        740
      ]
    },
    {
      "parameters": {
        "content": "## Download attachments and send to another email\n",
        "height": 220,
        "width": 466.25,
        "color": 4
      },
      "id": "cfcd73fa-7f82-4013-ac7b-95203fdc52c3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        760
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "downloadAttachment",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.uid }}",
        "allAttachments": true
      },
      "id": "bb578723-91cd-416a-b00a-1d4a13a4bcd3",
      "name": "downloadAttachments",
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        1360,
        840
      ],
      "credentials": {
        "imapApi": {
          "id": "7cOl7KbWcNg3Fz8R",
          "name": "gatura@bulkbox.co.ke - test imap"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $('GetEmails24hrsAgo').item.json.envelope.to[0].address }}",
        "toEmail": "={{ $('configurableFields').item.json['email (email to send the attchment)'] }}",
        "subject": "=PDFs - {{ $('downloadAttachments').item.binary.attachment_0.fileName }}",
        "emailFormat": "text",
        "text": "Find attached pdfs from emails",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $('downloadAttachments').item.json.attachments.last().binaryFieldName }}"
        }
      },
      "id": "c1c02283-49ce-4195-9295-66602047a63a",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1580,
        840
      ],
      "credentials": {
        "smtp": {
          "id": "FRchTiFJGPeC5YNE",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $('emailUid').item.json.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "[Gmail]/Important",
          "mode": "list",
          "cachedResultName": "[Gmail]/Important"
        }
      },
      "id": "7d8892b1-f0b4-46ce-a2f6-3b6bcab50670",
      "name": "moveFolder",
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        1660,
        1060
      ],
      "credentials": {
        "imapApi": {
          "id": "7cOl7KbWcNg3Fz8R",
          "name": "gatura@bulkbox.co.ke - test imap"
        }
      }
    },
    {
      "parameters": {
        "content": "## Move mail to another folder\n",
        "height": 243.75,
        "color": 5
      },
      "id": "a82523b2-7e27-49f2-a21f-b2d2365258e9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbb90365-4c07-401b-b497-f4c3aebd424c",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4ec21513-4010-4a01-a1f3-8f8de65e443b",
      "name": "emailUid",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        840
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-13T13:32:14.000Z",
  "versionId": "f91a7c7b-73ad-4f12-bba2-834e856b69cd"
}