workflows1/Trello Webhook
{
  "active": false,
  "connections": {
    "Trello Trigger": {
      "main": [
        [
          {
            "node": "checkComments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkComments": {
      "main": [
        [
          {
            "node": "setComment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setComment": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "memberID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memberID": {
      "main": [
        [
          {
            "node": "updateMemberId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-11T21:01:19.737Z",
  "id": "zkZwIedcngKHf6Hh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trello Webhook?",
  "nodes": [
    {
      "parameters": {
        "id": "62b1d3ef56cdca107d3aec9e"
      },
      "id": "88dd099c-ea83-430c-b0d6-8d717a863b6f",
      "name": "Trello Trigger",
      "type": "n8n-nodes-base.trelloTrigger",
      "typeVersion": 1,
      "position": [
        1060,
        500
      ],
      "webhookId": "c690cbdc-05e1-486f-a6d4-8e762dea1759",
      "credentials": {
        "trelloApi": {
          "id": "28KcZZoExcvdC6un",
          "name": "new-bulkbox"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64916b5d-59f9-4eb4-97de-c299ac68edd1",
              "leftValue": "={{ $json.action.type }}",
              "rightValue": "commentCard",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d11b2f21-e734-4778-820c-15a2966086ed",
      "name": "checkComments",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1280,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bbeae53-6817-4ec0-9810-f58cb6e97669",
              "name": "comment",
              "value": "={{ $json.action.display.entities.comment.text }}",
              "type": "string"
            },
            {
              "id": "ad834fb1-de05-4daa-9701-c9f85bfc4f30",
              "name": "memberCreatorid",
              "value": "={{ $json.action.memberCreator.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27f4dc62-cd6d-4f74-a624-2da7e9c694a5",
      "name": "setComment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "name": "OrganizationMembers",
        "description": "Call this tool to get the organization members and their memberIds. Use their profile to determine the best candidate to reassign the board."
      },
      "id": "c6340d5d-e3c2-40fd-b77d-4e53595f87dd",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1620,
        720
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "trello-members-example",
          "mode": "list",
          "cachedResultName": "trello-members-example"
        },
        "options": {}
      },
      "id": "4e48589c-2859-43ee-bf01-a327940f8c68",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1480,
        860
      ],
      "credentials": {
        "pineconeApi": {
          "id": "R5yo0MgikqxTgmhY",
          "name": "My Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "34f78a9d-d318-44ed-a393-7838b74aa104",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1480,
        1080
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "c1c5616a-71de-482f-90b0-e0f5480f8b92",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1760,
        940
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "name": "ProjectInformation",
        "description": "Call this tool to get the scope of the different projects and get help with determing who best to assign the task."
      },
      "id": "871f6f87-4052-4f46-963f-8447aa296e8c",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1940,
        720
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "trello",
          "mode": "list",
          "cachedResultName": "trello"
        },
        "options": {}
      },
      "id": "132a2d06-3fd3-45da-a11b-878da24923b5",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1900,
        940
      ],
      "credentials": {
        "pineconeApi": {
          "id": "R5yo0MgikqxTgmhY",
          "name": "My Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e79d518-00fb-482a-8e31-996232c38635",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1940,
        1120
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "d5c00403-a45c-4728-a2be-68e8ba65c49b",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2220,
        940
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an assistant. \nYour work is to analyze the comment of this card and using the necessary tools, reassign the card to the most efficient member"
            },
            {
              "content": "=This is the comment:  {{ $json.comment }}\n\nAnd this is the memberid currently assigned: {{ $json.memberCreatorid }}"
            },
            {
              "content": "=Card details:\n\n{{ $('Trello Trigger').item.json.model }}\n{{ $('Trello Trigger').item.json.action }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "58b6a742-8bf5-4ac1-9385-7c2c1be51361",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1720,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Q6M4JEKewP9VKl8",
          "name": "Bulkbox"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a512bc41-1999-43f1-bccf-d3a3ca57642e",
      "name": "memberID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Trello Trigger').item.json.action.data.idCard }}",
          "mode": "id"
        },
        "updateFields": {
          "idMembers": "={{ $('Trello Trigger').item.json.action.memberCreator.id }}"
        }
      },
      "id": "8f4020a7-36e2-456f-9f98-8a908bdbb5d5",
      "name": "updateMemberId",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2320,
        500
      ],
      "credentials": {
        "trelloApi": {
          "id": "28KcZZoExcvdC6un",
          "name": "new-bulkbox"
        }
      }
    }
  ],
  "pinData": {
    "Trello Trigger": [
      {
        "json": {
          "model": {
            "id": "62b1d3ef56cdca107d3aec9e",
            "name": "Projects",
            "closed": false,
            "color": null,
            "idBoard": "62b1d3ef56cdca107d3aec95",
            "pos": 196607,
            "type": null,
            "datasource": {
              "filter": false
            }
          },
          "action": {
            "id": "67327c2280c8698dfc471f93",
            "idMemberCreator": "6501a6ecb0408c17f48ed233",
            "data": {
              "idCard": "66db47f38321eb76e80bb4f9",
              "text": "This is a test comment.",
              "textData": {
                "emoji": {}
              },
              "card": {
                "id": "66db47f38321eb76e80bb4f9",
                "name": "Look into the use of openai to generat invoice from pdf",
                "idShort": 159,
                "shortLink": "u5u38xka"
              },
              "board": {
                "id": "62b1d3ef56cdca107d3aec95",
                "name": "Technology",
                "shortLink": "JgD11F5G"
              },
              "list": {
                "id": "62b1d3ef56cdca107d3aec9e",
                "name": "Projects"
              }
            },
            "appCreator": null,
            "type": "commentCard",
            "date": "2024-11-11T21:50:26.840Z",
            "limits": {
              "reactions": {
                "perAction": {
                  "status": "ok",
                  "disableAt": 900,
                  "warnAt": 720
                },
                "uniquePerAction": {
                  "status": "ok",
                  "disableAt": 17,
                  "warnAt": 14
                }
              }
            },
            "display": {
              "translationKey": "action_comment_on_card",
              "entities": {
                "contextOn": {
                  "type": "translatable",
                  "translationKey": "action_on",
                  "hideIfContext": true,
                  "idContext": "66db47f38321eb76e80bb4f9"
                },
                "card": {
                  "type": "card",
                  "hideIfContext": true,
                  "id": "66db47f38321eb76e80bb4f9",
                  "shortLink": "u5u38xka",
                  "text": "Look into the use of openai to generat invoice from pdf"
                },
                "comment": {
                  "type": "comment",
                  "text": "This is a test comment."
                },
                "memberCreator": {
                  "type": "member",
                  "id": "6501a6ecb0408c17f48ed233",
                  "username": "gaturafrancis",
                  "text": "Gatura Francis"
                }
              }
            },
            "memberCreator": {
              "id": "6501a6ecb0408c17f48ed233",
              "activityBlocked": false,
              "avatarHash": "46a990d7692c4cf61068d149c08485ee",
              "avatarUrl": "https://trello-members.s3.amazonaws.com/6501a6ecb0408c17f48ed233/46a990d7692c4cf61068d149c08485ee",
              "fullName": "Gatura Francis",
              "idMemberReferrer": null,
              "initials": "GF",
              "nonPublic": {},
              "nonPublicAvailable": true,
              "username": "gaturafrancis"
            }
          },
          "webhook": {
            "id": "6732790e98ec5f8979d08700",
            "description": "n8n Webhook - 62b1d3ef56cdca107d3aec9e",
            "idModel": "62b1d3ef56cdca107d3aec9e",
            "callbackURL": "https://ai.gatuservices.info/webhook/c690cbdc-05e1-486f-a6d4-8e762dea1759/webhook",
            "active": true,
            "consecutiveFailures": 0,
            "firstConsecutiveFailDate": null
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Trello Trigger": {}
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-11-15T14:58:10.000Z",
  "versionId": "55af63d3-2360-4b65-82d0-291433569e6f"
}