workflows1/♻️⌚[FUTURE MINDS][CLINT] - Calendly - Parte 3 - Reagendamento.json
{
  "active": true,
  "connections": {
    "pesquisa_lead4": {
      "main": [
        [
          {
            "node": "rodizio_closer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe4": {
      "main": [
        [
          {
            "node": "pesquisa_closer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer1": {
      "main": [
        [
          {
            "node": "nao_existe5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador1": {
      "main": [
        [
          {
            "node": "id_colaborador7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe5": {
      "main": [
        [
          {
            "node": "insert_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe6": {
      "main": [
        [
          {
            "node": "pesquisa_closer4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_closer5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_antigo": {
      "main": [
        [
          {
            "node": "nao_existe4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_novo": {
      "main": [
        [
          {
            "node": "nao_existe6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento2": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento1": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake2": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia5": {
      "main": [
        [
          {
            "node": "update_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake4": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia6": {
      "main": [
        [
          {
            "node": "insert_data_data_lake7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake5": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake2": {
      "main": [
        [
          {
            "node": "lead_ja_existia6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake7": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer3": {
      "main": [
        [
          {
            "node": "nao_existe8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador3": {
      "main": [
        [
          {
            "node": "id_colaborador4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador3": {
      "main": [
        [
          {
            "node": "id_colaborador5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe8": {
      "main": [
        [
          {
            "node": "insert_data_colaborador3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador4": {
      "main": [
        [
          {
            "node": "update_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador5": {
      "main": [
        [
          {
            "node": "update_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador6": {
      "main": [
        [
          {
            "node": "insert_data_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador7": {
      "main": [
        [
          {
            "node": "insert_data_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia7": {
      "main": [
        [
          {
            "node": "nada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake6": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia8": {
      "main": [
        [
          {
            "node": "nada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake8": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake3": {
      "main": [
        [
          {
            "node": "lead_ja_existia8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake3": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento3": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada2": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nada3": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer4": {
      "main": [
        [
          {
            "node": "nao_existe9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador4": {
      "main": [
        [
          {
            "node": "id_colaborador10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador4": {
      "main": [
        [
          {
            "node": "id_colaborador11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe9": {
      "main": [
        [
          {
            "node": "insert_data_colaborador4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_agendamento3": {
      "main": [
        [
          {
            "node": "insert_utm_2_agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_utm_2_agendamento2": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake4": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_dia_dia_data_lake5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_closer5": {
      "main": [
        [
          {
            "node": "nao_existe10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_colaborador5": {
      "main": [
        [
          {
            "node": "id_colaborador8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_colaborador5": {
      "main": [
        [
          {
            "node": "id_colaborador9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe10": {
      "main": [
        [
          {
            "node": "insert_data_colaborador5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_colaborador5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador8": {
      "main": [
        [
          {
            "node": "update_data_agendamento4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador9": {
      "main": [
        [
          {
            "node": "update_data_agendamento4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador10": {
      "main": [
        [
          {
            "node": "insert_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_colaborador11": {
      "main": [
        [
          {
            "node": "insert_data_agendamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_agendamento4": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake8": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake9": {
      "main": [
        [
          {
            "node": "envia_campo_id_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_dia_dia_data_lake5": {
      "main": [
        [
          {
            "node": "insert_data_data_lake9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_existe11": {
      "main": [
        [
          {
            "node": "insere_dados2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "telefone_preenchido3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_dados2": {
      "main": [
        [
          {
            "node": "insert_data_utm_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_lead2": {
      "main": [
        [
          {
            "node": "id_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual4": {
      "main": [
        [
          {
            "node": "atualiza_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido4": {
      "main": [
        [
          {
            "node": "email_igual4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido5": {
      "main": [
        [
          {
            "node": "email_igual7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual7": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_telefone2_email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email4": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone2_email1": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "atualiza_dados_telefone3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email2_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_preenchido1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_dados_email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email5": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_telefone3": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados_email2_telefone": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual3": {
      "main": [
        [
          {
            "node": "email_preenchido4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_preenchido3": {
      "main": [
        [
          {
            "node": "telefone_igual3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email_preenchido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_lead3": {
      "main": [
        [
          {
            "node": "pesquisa_lead4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_dados": {
      "main": [
        [
          {
            "node": "id_lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "pesquisa_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar_contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entra_na_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_inviteeid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_horario_agendado": {
      "main": [
        [
          {
            "node": "envia_campo_data_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_data_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_dia_da_semana_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_dia_da_semana_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_campo_id_banco_de_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_inviteeid": {
      "main": [
        [
          {
            "node": "envia_campo_horario_agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_id_banco_de_dados": {
      "main": [
        [
          {
            "node": "envia_campo_link_do_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead": {
      "main": [
        [
          {
            "node": "nao_existe11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguarda_5s": {
      "main": [
        [
          {
            "node": "cria/atualiza_negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificacao_bc_diana_onboarding": {
      "main": [
        [
          {
            "node": "pesquisa_colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N | NEGÓCIO | AGENDOU & REAGENDOU": {
      "main": [
        [
          {
            "node": "aguarda_5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N | NEGÓCIO | RENOVAÇÃO OU FECHAMENTO": {
      "main": [
        [
          {
            "node": "aguarda_5s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_eventos": {
      "main": [
        [
          {
            "node": "notificacao_bc_diana_onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "N8N | NEGÓCIO | RENOVAÇÃO OU FECHAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aguarda_5s3": {
      "main": [
        [
          {
            "node": "cria/atualiza_negocio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_contato": {
      "main": [
        [
          {
            "node": "é_sala_secreta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_negocio2": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_colaborador": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza_negocio": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_email_do_closer_responsavel": {
      "main": [
        [
          {
            "node": "envia_nome_do_closer_responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_nome_do_closer_responsavel": {
      "main": [
        [
          {
            "node": "envia_tipo_serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_campo_link_do_agendamento": {
      "main": [
        [
          {
            "node": "envia_email_do_closer_responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodizio_closer": {
      "main": [
        [
          {
            "node": "cria/atualiza_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_reagendamento": {
      "main": [
        [
          {
            "node": "N8N | NEGÓCIO | AGENDOU & REAGENDOU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "separa_eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é_sala_secreta": {
      "main": [
        [
          {
            "node": "cria/atualiza_negocio_sala_secreta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "é_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar_contato1": {
      "main": [
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_tipo_serviço": {
      "main": [
        [
          {
            "node": "envia_fluxo_confirmacao_de_reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-29T01:59:46.668Z",
  "id": "ZK1qNCUGXZ8hDAhB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "♻️⌚[FUTURE MINDS][CLINT] - Calendly - Parte 3 - Reagendamento",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $json[\"id_lead\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "d9d04155-4134-436b-9781-30b6d82cc36d",
      "name": "pesquisa_lead4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3320,
        1980
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_antigo\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0cec987b-9c4f-4b90-80f1-88d13943a23b",
      "name": "nao_existe4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -620,
        1960
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "eb30a51e-3844-4055-88f1-d7fe9a78b910",
      "name": "pesquisa_closer1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -460,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "90b6153f-d13f-4ce5-8fd9-c35359188bb8",
      "name": "insert_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -140,
        1640
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "60a52696-5997-49c9-82e5-d11a77939837",
      "name": "update_data_colaborador1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -140,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer1\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ea7fbbaf-142e-4d6a-a041-6520487b340b",
      "name": "nao_existe5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        1780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_agendamento_novo\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "da3c04ef-58d9-46a2-b78c-2746366b1e14",
      "name": "nao_existe6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        1720
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "98d7ed7f-95be-4569-b643-e4875a86e507",
      "name": "pesquisa_agendamento_antigo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -820,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "cad86acc-fd08-47a6-9a82-fc91cb6088c6",
      "name": "pesquisa_agendamento_novo",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1400,
        1720
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente Antigo\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Reagendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_antigo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_antigo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião Antigo\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento Antigo\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f306c85d-ba0d-47cb-b009-b07bdc8f2e07",
      "name": "insert_data_agendamento2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        220,
        1640
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "14a009f9-718c-43e5-9b09-bb7222692838",
      "name": "insert_utm_2_agendamento1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        420,
        1640
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "6ea49cba-a0ab-4dbb-804e-751c46203851",
      "name": "pesquisa_data_data_lake2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        620,
        1640
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_agendamentos\"] + 1}}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "6899db9b-d39f-44de-ade3-5e63b2bc86b6",
      "name": "update_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1160,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0eecc503-08ac-4c21-8a89-67b8c92b313c",
      "name": "lead_ja_existia5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_agendamentos\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake2\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "84583acf-0393-40fe-8021-53afd087e8d9",
      "name": "update_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        1480
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "766f18f6-82d6-4c8e-a595-30bf443fc5c7",
      "name": "lead_ja_existia6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        1040
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_agendamentos",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b8b74bb9-65ca-4153-879a-78d9c5719463",
      "name": "insert_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        1120
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "cf560944-12cb-4a04-9f02-2e093dcfc4cc",
      "name": "nao_encontrou_registro_dia_dia_data_lake2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        780,
        1220
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "a7c72604-f0dd-4436-a7f2-69d6aac159e6",
      "name": "insert_data_data_lake7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1140,
        920
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "1f17475f-113f-46ac-83bb-01b2e5f72457",
      "name": "pesquisa_closer3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -460,
        2160
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "25534fb8-82cc-458e-ae02-ea8811b3ae9f",
      "name": "insert_data_colaborador3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -140,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer3\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento Antigo\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável Antigo\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "f484f7c8-42f6-4b2d-b14c-2a729f202c82",
      "name": "update_data_colaborador3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -140,
        2220
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer3\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "36b4e13b-138c-4ab7-9785-cb6f18d6e416",
      "name": "nao_existe8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -300,
        2160
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador3\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb81c368-aa74-4c14-99fb-499ba32f9be7",
      "name": "id_colaborador4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        40,
        2020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer3\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26030716-a90f-42a2-bf1b-e1537293fdbc",
      "name": "id_colaborador5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        40,
        2220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador1\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de16c3ad-92e4-43f3-beee-bcf222032ac0",
      "name": "id_colaborador6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        40,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer1\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d6d6223-06fe-425f-89b2-b620a22f0815",
      "name": "id_colaborador7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        40,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "15588469-40fa-4ee4-8438-88c41709e032",
      "name": "lead_ja_existia7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake3\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake3\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "cb54b066-a9ee-48cc-8cb4-e34ac1558ce4",
      "name": "update_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1000,
        2280
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "52378814-b9aa-4598-a66a-3bea4e151231",
      "name": "lead_ja_existia8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        1840
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_leads",
              "value": "1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "10c1b90c-251d-41b4-a74a-35574a5564a5",
      "name": "insert_data_data_lake8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1000,
        1920
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2bf81c12-7d89-462c-b486-be45c57690f0",
      "name": "nao_encontrou_registro_dia_dia_data_lake3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "4cf19c79-9e27-4a02-9fca-1edb4ade62ba",
      "name": "pesquisa_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        420,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento_antigo\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento Antigo\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente Antigo\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Reagendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_antigo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_antigo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião Antigo\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento Antigo\"] }}"
            },
            {
              "column": "data_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"] }}"
            },
            {
              "column": "motivo_cancelamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data do Agendamento Antigo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e34f8e63-335f-456e-bf2a-907db56c2cf1",
      "name": "update_data_agendamento3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        220,
        2020
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {},
      "id": "2c7f2568-2f1f-4ca0-b77c-f1feb5b8bc4f",
      "name": "nada2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "e792ebfe-4041-424c-b926-8d1f7a6d2e63",
      "name": "nada3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1000,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "5db248cc-4123-46a9-9f1e-8778a309713f",
      "name": "pesquisa_closer4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1740,
        1520
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2c26d15e-f959-46f8-8eea-8b6601494d59",
      "name": "insert_data_colaborador4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2060,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer4\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1d64c3e4-5f41-4111-a8c8-ed8cd46ad252",
      "name": "update_data_colaborador4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2060,
        1580
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer4\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "72848208-06b9-47a1-b8c9-a4ebf1bbe350",
      "name": "nao_existe9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1900,
        1520
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_novo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_novo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "830ca07e-e0b6-4b9a-a75d-e3bd6fbb43cc",
      "name": "insert_data_agendamento3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2420,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos_2_utms",
          "mode": "list",
          "cachedResultName": "agendamentos_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_agendamento",
              "value": "={{ $node[\"insert_data_agendamento3\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "efba8650-b297-4915-b7c9-6df4496a071b",
      "name": "insert_utm_2_agendamento2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2620,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "5100be4f-75a4-425b-bf75-9340224cfde8",
      "name": "pesquisa_data_data_lake4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2820,
        1380
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "cdb66d19-407f-42a4-b699-d3e3c02c20db",
      "name": "pesquisa_closer5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        1740,
        1900
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "69a9ea1c-76b5-4000-b380-e1e352df4443",
      "name": "insert_data_colaborador5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2060,
        1760
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_colaborador",
        "valueToMatchOn": "={{ $node[\"pesquisa_closer5\"].json[\"id_colaborador\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "funcao",
              "value": "=Closer"
            },
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c48749cd-7acf-4487-854e-feca62d38c77",
      "name": "update_data_colaborador5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2060,
        1960
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_closer5\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2d18bc67-c4bb-4b39-97fe-0c72c59fa4d8",
      "name": "nao_existe10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1900,
        1900
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador5\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e963d38-0bf6-4d2d-9395-77dd69e847b8",
      "name": "id_colaborador8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        1760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer5\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1dfa085-744a-473e-a574-02acc68514ca",
      "name": "id_colaborador9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        1960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"insert_data_colaborador4\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "decd51bd-5dd3-4710-95c1-1e6f73caecbd",
      "name": "id_colaborador10",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        1380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_colaborador",
              "value": "={{ $node[\"pesquisa_closer4\"].json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3a997bc-160b-438b-abe0-ea2acf909bae",
      "name": "id_colaborador11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_agendamento",
        "valueToMatchOn": "={{ $node[\"pesquisa_agendamento_novo\"].json[\"id_agendamento\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "id_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "column": "id_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "column": "status_evento",
              "value": "Agendado"
            },
            {
              "column": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_de_inicio_novo\"] }}"
            },
            {
              "column": "hora_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"hora_de_inicio_novo\"] }}"
            },
            {
              "column": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "column": "servico",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            },
            {
              "column": "dia_da_semana_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "column": "data_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"] }}"
            },
            {
              "column": "id_responsavel",
              "value": "={{ $json[\"id_colaborador\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1f461761-0c1d-482e-beaf-d173c7288a32",
      "name": "update_data_agendamento4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        2420,
        1760
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake4\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_agendamentos",
              "value": "={{ $node[\"pesquisa_data_data_lake4\"].json[\"qtd_agendamentos\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "395caa24-d941-4427-a311-231b335190c4",
      "name": "update_data_data_lake8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3280,
        1520
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"data_agendamento_novo\"].split(' ')[0] }}"
            },
            {
              "column": "qtd_agendamentos",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "12ada40e-ade1-49f5-8dfc-48a283e78dbf",
      "name": "insert_data_data_lake9",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        3280,
        1280
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "45ad6bfa-c393-40c3-b0a3-d0d91e4a1091",
      "name": "nao_encontrou_registro_dia_dia_data_lake5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3020,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2a91a394-bc34-49b6-bac5-b267d777ab17",
      "name": "nao_existe11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4720,
        1880
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "={{ $node[\"id_activecampaign\"].json[\"id\"] }}"
            },
            {
              "column": "id_deal_activecampaign",
              "value": "={{ $node[\"atualizar_campos_deal6\"].json[\"deal\"][\"id\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b7726b84-e0bf-46ca-b47f-e36180d06a16",
      "name": "insere_dados2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -4200,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "67725a24-9532-4e57-b624-932c3e02f752",
      "name": "id_lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3840,
        1780
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "leads_2_utms",
          "mode": "list",
          "cachedResultName": "leads_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"insere_dados2\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1c344330-4fc9-425c-a5a2-96185dbef40b",
      "name": "insert_data_utm_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -4020,
        1780
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "d7c610c5-4f06-4e8d-bbdb-57df67e89f58",
      "name": "email_igual4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4040,
        2060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3b087202-f5f2-4951-ae90-7ca3a972104d",
      "name": "email_preenchido4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4200,
        2140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8c942280-303f-41fe-af49-32c8798e61c2",
      "name": "email_preenchido5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4220,
        2620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "e039f608-b473-4d61-a30e-40a6d9880dbe",
      "name": "email_igual7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4020,
        2540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0cd63c52-f63b-414a-b8f5-647d31ae33d8",
      "name": "atualiza_dados_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3840,
        2140
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "7e6613a8-71aa-46f6-ad2c-e1d2f9ffe0ac",
      "name": "atualiza_dados_email4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -4040,
        2320
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e31fda28-bfe0-4ac5-8683-ae819ec15fc3",
      "name": "atualiza_dados_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3820,
        2460
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "id_lead_activecampaign",
              "value": "="
            },
            {
              "column": "id_deal_activecampaign",
              "value": "="
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2f3e0a20-6a33-4f73-b21e-7eb9db72af28",
      "name": "atualiza_dados_telefone2_email3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3820,
        2640
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "2110d2b7-e629-4dee-97e5-5b7e3717ecaa",
      "name": "atualiza_dados_telefone2_email1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -4020,
        2760
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        }
      },
      "id": "e23692e5-8111-470c-a509-8e6b422e45aa",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4180,
        3000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"email\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7590fb04-7060-436f-a5e3-6bacf4bf028a",
      "name": "email_preenchido1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4340,
        3080
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1cf1cc0d-fab3-4ec9-99aa-ab3cccf56c32",
      "name": "atualiza_dados_email5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -4180,
        3240
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "c4b3a3f7-10af-4b4d-9598-e24361f192a5",
      "name": "atualiza_dados_telefone3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3980,
        2920
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "34d677f1-28da-486e-b8fc-86eb1b98ecfb",
      "name": "atualiza_dados_email2_telefone",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3980,
        3080
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}",
              "value2": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            }
          ]
        }
      },
      "id": "d64a801d-bb53-42bb-957f-bf50bc5196d1",
      "name": "telefone_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4380,
        2240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"pesquisa_lead2\"].json[\"telefone\"] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f9ff6e0a-276f-437a-9859-e36b5adc1ee8",
      "name": "telefone_preenchido3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4540,
        2320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id_lead",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d24c5978-d661-423f-be79-bc5573fa6587",
      "name": "id_lead3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3560,
        2360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0] }}"
            },
            {
              "column": "id_botconversa",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "column": "sobrenome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \")\n }}"
            },
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "21ab64ec-5f63-4861-a501-07d02fffe3a8",
      "name": "atualiza_dados",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -3840,
        1980
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "column": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "telefone_empresa",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "column": "email2",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "bf469747-0d6d-4939-b7b6-69f50deb1a2d",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -5060,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "e8799d0f-b831-4d6b-8bbf-dabffbe5e75d",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5300,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[\"fields\"][\"redelivered\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "901411c2-6c29-4da9-84b5-9be5297d0312",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -5520,
        1880
      ]
    },
    {
      "parameters": {
        "queue": "Calendly - Reagendamentos - Clint",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": true,
          "parallelMessages": 3
        }
      },
      "id": "a6ce0c05-f6e4-4f56-b28b-9e1bb43c767e",
      "name": "entra_na_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -5780,
        1880
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_id_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8225fbe4-a02a-4c09-8d55-de7aea55fd23",
      "name": "envia_campo_id_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3560,
        1760
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_horario_agendado_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6a99ed7-69f9-401c-b499-bdcda7564bc3",
      "name": "envia_campo_horario_agendado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3960,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_data_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split('/')[0] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split('/')[1]    }}"
            }
          ]
        },
        "options": {}
      },
      "id": "59493f11-98a0-4828-b3a4-1ffd1e917d87",
      "name": "envia_campo_data_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4180,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_dia_da_semana_do_agendamento_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b0ec02f-4937-44f2-ae23-acf4c7f736e8",
      "name": "envia_campo_dia_da_semana_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4400,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_do_campo_inviteeid_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f77e8da-b6d4-452c-9dd7-cefa11336a56",
      "name": "envia_campo_inviteeid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3760,
        1760
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "caed584b-a602-41a7-9b83-a58aa9e8085b",
      "name": "envia_campo_id_banco_de_dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4660,
        1760
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_link_da_reuniao_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac7bf9d3-2354-4009-8772-b6a9c3a272bb",
      "name": "envia_campo_link_do_agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4880,
        1760
      ],
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{$node[\"cadastrar_contato1\"].json[\"id\"]}}/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"fluxo_de_confirmacao_de_reagendamento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65d56f8a-bd8e-4267-9266-4306b05c22e7",
      "name": "envia_fluxo_confirmacao_de_reagendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5780,
        1760
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "3b260757-7af0-4f4c-813f-1e6b4c1adf0d",
      "name": "pesquisa_lead",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -4900,
        1880
      ]
    },
    {
      "parameters": {},
      "id": "dc7e0bae-24c5-4b8c-81e0-abc0fc9cf1b1",
      "name": "aguarda_5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1700,
        1700
      ],
      "webhookId": "6b5f78e3-8f7a-452c-9aba-86412c993a2a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d7acd6bc-f8a5-417c-a00c-bdb9f149e7d9",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "banco_de_dados_id",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "name": "bot_conversa_id",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "name": "id_do_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "name": "id_do_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_do_reagendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[2] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[1] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[0] }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "dia_da_semana",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "name": "email_responsavel",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_camapign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "motivo_reagendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "name": "tipo_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb26e9fd-ac08-48c1-8b1d-7cfd5685e683",
      "name": "cria/atualiza_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2940,
        1980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/35a28d40-9bc1-4a57-b6ca-f33fa63d7527",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "banco_de_dados_id",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            },
            {
              "name": "bot_conversa_id",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "name": "id_do_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "name": "id_do_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_do_reagendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[2] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[1] }}/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Reagendamento\"].split(' ')[0].split('-')[0] }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "dia_da_semana",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "name": "email_responsavel",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "dono_do_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "motivo_reagendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Motivo do Reagendamento\"] }}"
            },
            {
              "name": "tipo_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75ebf5cb-368c-448d-950b-8a62b8cf2131",
      "name": "cria/atualiza_negocio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        1700
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "colaboradores",
          "mode": "list",
          "cachedResultName": "colaboradores"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "vitorrqueiroztrafego@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "id": "d922e61b-f52f-44c3-990b-87a08b091500",
      "name": "pesquisa_colaborador",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1440,
        1880
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "content": "## O evento de \"onboarding\" não entra no CRM, esse evento não, porque o lead já comprou 😅",
        "height": 207.50874989235285,
        "width": 273.86981249450105
      },
      "id": "fbcf6174-d0bc-4594-9fa0-8e485ce47aed",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2260,
        2180
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/460685819/send_message/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "value",
              "value": "=🔔 *ONBOARDING AGENDADO*\n\nO cliente {{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}, acabou de agendar uma reunião de onboarding da mentoria.\n\n🚨 Confira se está tudo certo com o agendamento deste cliente.\n\n.................................\n\n*Nome do Cliente:* {{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}\n*Telefone do Cliente:* +{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\n*Email do Cliente:* {{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}\n*Link do WhatsApp:* wa.me/{{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}\n\n.................................\n\nLink da Reunião: {{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}\nDia da Reunião: {{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}\nHorário da Reunião: {{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[2] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "notificacao_bc_diana_onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1700,
        1880
      ],
      "id": "be558ada-9493-42b3-af6b-10d8e86bb7d9",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/e874523a-4f6f-42dd-82e1-2a2341959b15",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "banco_de_dados_id",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "bot_conversa_id",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "name": "id_do_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "name": "id_do_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_do_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "dia_da_semana",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "name": "email_responsavel",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "email_responsavel",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "dono_do_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "tipo_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97aaafd7-76bc-4675-b3b7-ccf960abf939",
      "name": "cria/atualiza_negocio2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        2080
      ]
    },
    {
      "parameters": {},
      "id": "dfcf054e-a94b-4b74-972c-dc5de8b23907",
      "name": "N8N | NEGÓCIO | AGENDOU & REAGENDOU",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1900,
        1700
      ]
    },
    {
      "parameters": {},
      "id": "d84593db-2239-4058-9c92-4bde825cb097",
      "name": "N8N | NEGÓCIO | RENOVAÇÃO OU FECHAMENTO",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1900,
        2080
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
                    "rightValue": "[O] Onboarding Modus Inovandi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "onboarding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9a5ac5c3-ae07-4b4c-acf1-a6a1753933cc",
                    "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
                    "rightValue": "Fechamento Mentoria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fechamento_mentoria"
            }
          ]
        },
        "options": {}
      },
      "id": "084892c7-7be2-4cdf-b3f3-b367ccc34382",
      "name": "separa_eventos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2180,
        2020
      ]
    },
    {
      "parameters": {},
      "id": "d55045ff-5bd0-45eb-8a57-6e33b911335d",
      "name": "aguarda_5s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1700,
        2080
      ],
      "webhookId": "6b5f78e3-8f7a-452c-9aba-86412c993a2a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_closer_responsavel_bot_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node.entra_na_fila.json.content[\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96e9e5db-477d-4a09-aee2-37bdacb6eaad",
      "name": "envia_email_do_closer_responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5100,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_email_closer_do_responsavel\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node.entra_na_fila.json.content[\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Responsável pelo Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e277307-102c-4af2-b2e6-7f7cdf38a115",
      "name": "envia_nome_do_closer_responsavel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5300,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $node[\"cadastrar_contato1\"].json[\"id\"] }}/custom_fields/{{ $node[\"entra_na_fila\"].json[\"content\"][\"id_campo_servico_escolhido_conversa\"] }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "API-KEY",
              "value": "={{ $node.entra_na_fila.json.content[\"API-KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "string"
            },
            {
              "name": "value",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "30701d15-b029-44ff-a80e-bfe60928130d",
      "name": "envia_tipo_serviço",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5500,
        1760
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8nwebhookhetznerfutureminds.automagicbots.com.br/webhook/consulta-colaborador",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "time",
              "value": "Closer"
            },
            {
              "name": "user",
              "value": "={{ $node[\"pesquisa_lead4\"].json[\"id_lead\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e422cad5-14c7-4731-837d-50bbf11da64d",
      "name": "rodizio_closer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3160,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "398f17a8-ed5d-4cb6-9b40-3714dfda2dd8",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "[Q] Sessão Sprint de Carreira",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "97106534-97d5-4779-a05e-82c058f339e1",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "[G] - Sprint de Carreira",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "22039480-296a-4cf2-8bc8-0ea31626db4d",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "[P] - Sprint de Carreira",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e8a799b0-4011-4b21-9f1b-ec999433fecc",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "Sessão Sprint de Carreira",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c2c7f3c1-e613-46a1-937d-22d2aaec73e8",
      "name": "é_reagendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2420,
        1980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/99bfa44f-befc-4895-9030-851299cde64f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "banco_de_dados_id",
              "value": "={{ $node[\"pesquisa_lead\"].json[\"id_lead\"] }}"
            },
            {
              "name": "bot_conversa_id",
              "value": "={{ $node[\"cadastrar_contato1\"].json[\"id\"] }}"
            },
            {
              "name": "id_do_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Evento\"] }}"
            },
            {
              "name": "id_do_cliente",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_do_agendamento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data em que foi feito o Agendamento\"].split(' ')[0] }}"
            },
            {
              "name": "data_de_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_inicio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Início\"] }}"
            },
            {
              "name": "dia_da_semana",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Dia da Semana de Início do Evento\"] }}"
            },
            {
              "name": "email_responsavel",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "link_reuniao",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Link da Reunião\"] }}"
            },
            {
              "name": "link_reagendamento",
              "value": "=https://calendly.com/reschedulings/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "link_cancelamento",
              "value": "=https://calendly.com/cancellations/{{ $node[\"entra_na_fila\"].json[\"content\"][\"ID do Cliente\"] }}"
            },
            {
              "name": "data_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"].split(' ')[0] }}"
            },
            {
              "name": "data_horario_termino",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Data de Término\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_fun",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "utm_var",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "dono_do_negocio",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"E-mail do Responsável\"] }}"
            },
            {
              "name": "tipo_evento",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "351bf395-4a6f-42f8-8a0b-2be3fd21c283",
      "name": "cria/atualiza_negocio_sala_secreta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2440,
        1740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "398f17a8-ed5d-4cb6-9b40-3714dfda2dd8",
              "leftValue": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Tipo de Evento\"] }}",
              "rightValue": "Sala Secreta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "babf358e-c252-4543-9062-8bff1cf59397",
      "name": "é_sala_secreta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2720,
        1980
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].slice(0,1).toUpperCase() }}{{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(' ')[0].slice(1).toLowerCase() }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"Nome do Cliente\"].split(\" \").slice(1).join(\" \") }}."
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "API-KEY",
              "value": "={{ $node[\"entra_na_fila\"].json[\"content\"][\"API-KEY\"] }}"
            }
          ]
        }
      },
      "name": "cadastrar_contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -5300,
        1880
      ],
      "id": "7c76e1cf-344d-4eb9-b3cf-0f7e01de9e19",
      "continueOnFail": true
    }
  ],
  "pinData": {
    "entra_na_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-xqdF-cPf2Gw0LeNra5K_bA",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Calendly - Reagendamentos - Clint"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 237
            }
          },
          "content": {
            "Nome do Cliente": "Vitor Teste",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente - Formato BC": "+5519984574874",
            "Telefone do Cliente - Formato Z-API": "5519984574874",
            "ID do Evento": "69527b9e-6d29-4ae2-97d0-4fce0840695e",
            "Responsável pelo Evento": "Future Minds",
            "E-mail do Responsável": "lilian.cidreira@futureminds.com.br",
            "Data de Início": "04/09/2024 14:00",
            "Data em que foi feito o Reagendamento": "2024-08-27",
            "Data de Término": "04/09/2024 14:30",
            "Dia da Semana de Início do Evento": "Quarta",
            "utm_source": null,
            "utm_campaign": null,
            "utm_term": null,
            "utm_medium": null,
            "utm_content": null,
            "Motivo do Reagendamento": "Estou sem wifi (em viagem) e com a Internet do celular oscilando. Desculpe!",
            "ID do Cliente": "788268bd-2044-49a7-a140-5228966a4d6f",
            "ID do Evento Antigo": "8f257bf9-7f98-4b59-a8c4-069d0c408d7d",
            "Tipo de Evento": "Sessão Sprint de Carreira",
            "API-KEY": "1ce1633c-7f94-487a-ad21-62ed7b079427",
            "id_do_campo_id_do_agendamento_bot_conversa": "1139627",
            "id_do_campo_inviteeid_bot_conversa": "1139629",
            "id_do_campo_horario_agendado_bot_conversa": "1139625",
            "id_campo_data_do_agendamento_bot_conversa": "1139612",
            "id_do_campo_dia_da_semana_do_agendamento_bot_conversa": "1139616",
            "fluxo_de_confirmacao_de_reagendamento": "2360303",
            "Link da Reunião": null,
            "ID do Cliente Antigo": "4b0dd2c0-c5d2-4848-ad36-3cbf53f2395c",
            "data_de_inicio_antigo": "2024-08-27",
            "hora_de_inicio_antigo": "14:00:00",
            "Link da Reunião Antigo": "https://us02web.zoom.us/j/86904033885",
            "Dia da Semana de Início do Evento Antigo": "Terça",
            "Data do Agendamento Antigo": "2024-08-22 10:15:38",
            "Responsável pelo Evento Antigo": "Future Minds",
            "E-mail do Responsável Antigo": "lilian.cidreira@futureminds.com.br",
            "data_de_inicio_novo": "2024-09-04",
            "data_agendamento_novo": "2024-08-27 07:55:45",
            "hora_de_inicio_novo": "14:00:00",
            "id_campo_id_banco_de_dados_bot_conversa": "1333394",
            "variacao_do_funil": "v1",
            "funil": "sessao_estrategica",
            "id_campo_link_da_reuniao_bot_conversa": "1139628",
            "id_campo_email_closer_do_responsavel": "2257938",
            "id_campo_servico_escolhido_conversa": "1093702",
            "id_campo_closer_responsavel_bot_conversa": "1139623",
            "id_do_campo_idleadac_bot_conversa": "1343869",
            "id_do_campo_iddealac_bot_conversa": "1343862"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-24T02:37:32.447Z",
      "updatedAt": "2024-04-24T02:37:32.447Z",
      "id": "vyeFDAo2U21qEbMD",
      "name": "[CALENDLY]"
    },
    {
      "createdAt": "2024-07-02T13:10:10.005Z",
      "updatedAt": "2024-07-02T13:10:10.005Z",
      "id": "Ntg6hZ9Zxy35lAGJ",
      "name": "[CLINT]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-04T19:45:03.324Z",
  "versionId": "9bf88486-1dbf-4c35-8b70-308729b49263"
}