workflows1/🏆⌚[FUTURE MINDS] - Aplicação Preenchida -  Qualificado - Parte 4.json
{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Deals da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Deals da Conta3": {
      "main": [
        [
          {
            "node": "Listar Pipelines e Status da Conta3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Pipelines e Status da Conta3": {
      "main": [
        [
          {
            "node": "Consulta Users da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tags da Conta": {
      "main": [
        [
          {
            "node": "Listar Tipos de Task da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Users da Conta": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_aplicacao": {
      "main": [
        [
          {
            "node": "insert_data_utm_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_utm_aplicacao": {
      "main": [
        [
          {
            "node": "pesquisa_data_data_lake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "segundo_ou_mais_erro": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_registro_hj_data_lake1": {
      "main": [
        [
          {
            "node": "qualificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "qualificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "segundo_ou_mais_erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_id_banco1": {
      "main": [
        [
          {
            "node": "atualiza_campos_deal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_campos_deal2": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "entra_na_fila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake": {
      "main": [
        [
          {
            "node": "add_tag_qualif2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia2": {
      "main": [
        [
          {
            "node": "insert_data_data_lake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake3": {
      "main": [
        [
          {
            "node": "add_tag_qualif2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado": {
      "main": [
        [
          {
            "node": "lead_ja_existia2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia5": {
      "main": [
        [
          {
            "node": "insert_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_medio_qualif": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake6": {
      "main": [
        [
          {
            "node": "add_tag_medio_qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert_data_data_lake5": {
      "main": [
        [
          {
            "node": "add_tag_medio_qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake1": {
      "main": [
        [
          {
            "node": "add_tag_qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia3": {
      "main": [
        [
          {
            "node": "update_data_data_lake1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake3": {
      "main": [
        [
          {
            "node": "add_tag_qualif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_qualif": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qualificado1": {
      "main": [
        [
          {
            "node": "lead_ja_existia3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead_ja_existia6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_ja_existia6": {
      "main": [
        [
          {
            "node": "update_data_data_lake5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_data_data_lake6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake6": {
      "main": [
        [
          {
            "node": "add_tag_medio_qualif1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_data_data_lake5": {
      "main": [
        [
          {
            "node": "add_tag_medio_qualif1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_medio_qualif1": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado5": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado4": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado2": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_qualificacao_qualificado": {
      "main": [
        [
          {
            "node": "add_id_banco1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag_qualif2": {
      "main": [
        [
          {
            "node": "update_qualificacao_qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_data_data_lake": {
      "main": [
        [
          {
            "node": "nao_encontrou_registro_hj_data_lake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead2": {
      "main": [
        [
          {
            "node": "insert_data_aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-24T00:25:22.756Z",
  "id": "qzKlQBaG0lCXtmw3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🏆⌚[FUTURE MINDS] - Aplicação Preenchida -  Qualificado - Parte 4",
  "nodes": [
    {
      "parameters": {
        "content": "## Para consulta\n\nUtilize estes Nodes para Consultar o ID dos Campos do Deal e o ID das Pipelines e Stages no ActiveCampaign",
        "height": 494.4652796495957,
        "width": 1510.0404531979405
      },
      "id": "ecfaf2f9-91fa-430a-88ce-6556365f3d23",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealCustomFieldMeta?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Deals da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -1200,
        280
      ],
      "id": "585d97db-d543-4a60-914d-d5e04052295b"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealGroups",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Pipelines e Status da Conta3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -980,
        280
      ],
      "id": "3383a394-cc7a-4792-8b17-33906f97c298"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "d0aa5c89796c6403850c539dbd5bcb58ffc0f8c7ff28b9fc6be0c3b54a540a15403f99b1"
            },
            {
              "name": "url_api_activecampaign",
              "value": "gestaodesaloes67530"
            }
          ]
        },
        "options": {}
      },
      "id": "6acef7de-396b-49e3-bea8-3e3eadc72460",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1400,
        280
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2d789c80-95cf-4933-aba6-8a169d726a65",
      "name": "Consulta Users da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -760,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n\nP0 = tem_recepcionista\nP1 = tamanho_da_equipe\nP2 = faturamento\nP3 = etapa_montar_salao\nP4 = objetivo_este_ano\nP5 = impede_objetivo\nP6 = porque_voce\nP7 = acompanhamento_unico\nP8 = nao_e_momento_ideal\nP9 = momento_atual\nP10 =\n\nProduto 1 = Precificações Lucrativa\nProduto 2 = 5 dimensões da Gestão",
        "height": 494.4652796495957,
        "width": 406.19790552805046
      },
      "id": "b27d282c-04e5-4578-8900-d5460ee47e16",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -560,
        280
      ],
      "id": "4a69ca86-2cb8-4672-ac26-2386e09adf8c"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -360,
        280
      ],
      "id": "62904804-ae57-491d-919f-ab13e671b2f0"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set1\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/dealTasktypes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set1\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fafd36b4-608f-46ac-84fe-f31b50d49667",
      "name": "Listar Tipos de Task da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        280
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 5 - Qualificado 2.0",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "31469dcc-3b2b-4711-b010-c5ee5d4553f5",
      "name": "entra_na_fila1",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        680,
        1560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes",
          "mode": "list",
          "cachedResultName": "aplicacoes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
            },
            {
              "column": "tempo_emprego_atual_p0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "column": "salario_p1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "column": "ultima_remuneracao_p2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "column": "cargo_atual_p3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "column": "data_aplicacao",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "atrapalha_alcancar_objetivo_p4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "column": "escolaridade_p5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "column": "objetivo_este_ano_p6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "column": "maior_obstaculo_p7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "column": "resolver_desafio_p8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "61a0f179-4a80-4936-a1af-7d06ce30394d",
      "name": "insert_data_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -2120,
        1560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "aplicacoes_2_utms",
          "mode": "list",
          "cachedResultName": "aplicacoes_2_utms"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "id_aplicacao",
              "value": "={{ $node[\"insert_data_aplicacao\"].json[\"data\"][\"insertId\"] }}"
            },
            {
              "column": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "column": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "column": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "column": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "column": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "column": "utm_fun",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "column": "utm_var",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            }
          ]
        },
        "options": {
          "queryBatching": "single",
          "detailedOutput": true
        }
      },
      "id": "a3e14e15-c602-48c4-a720-e7bc9c3fc98d",
      "name": "insert_data_utm_aplicacao",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -1900,
        1560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "6f832b2f-be60-4ce7-ad56-080275f4d6b2",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2320,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fields.redelivered }}",
              "value2": true
            }
          ]
        }
      },
      "id": "912f6978-35ea-49dc-8b34-c37c38128aaf",
      "name": "segundo_ou_mais_erro",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2520,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"pesquisa_data_data_lake\"].json[\"success\"] }}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "645120ce-938e-4359-8121-196f5c7f6c3a",
      "name": "nao_encontrou_registro_hj_data_lake1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1480,
        1560
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Nome do Cliente\"] }}"
            },
            {
              "name": "E-mail do Cliente",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato BC",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato BC\"] }}"
            },
            {
              "name": "Telefone do Cliente - Formato Z-API",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"Telefone do Cliente - Formato Z-API\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"utm_term\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"instagram\"] }}"
            },
            {
              "name": "id_fluxo_nao_agendou_10_min",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_fluxo_nao_agendou_10_min\"] }}"
            },
            {
              "name": "API-KEY",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"API-KEY\"] }}"
            },
            {
              "name": "pergunta0",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta0\"] }}"
            },
            {
              "name": "pergunta1",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta1\"] }}"
            },
            {
              "name": "pergunta2",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta2\"] }}"
            },
            {
              "name": "pergunta3",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta3\"] }}"
            },
            {
              "name": "pergunta4",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta4\"] }}"
            },
            {
              "name": "pergunta5",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta5\"] }}"
            },
            {
              "name": "pergunta6",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta6\"] }}"
            },
            {
              "name": "pergunta7",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta7\"] }}"
            },
            {
              "name": "pergunta8",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta8\"] }}"
            },
            {
              "name": "pergunta9",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta9\"] }}"
            },
            {
              "name": "pergunta10",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta10\"] }}"
            },
            {
              "name": "pergunta11",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta11\"] }}"
            },
            {
              "name": "pergunta12",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta12\"] }}"
            },
            {
              "name": "pergunta13",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta13\"] }}"
            },
            {
              "name": "pergunta14",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta14\"] }}"
            },
            {
              "name": "pergunta15",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta15\"] }}"
            },
            {
              "name": "pergunta16",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta16\"] }}"
            },
            {
              "name": "pergunta17",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta17\"] }}"
            },
            {
              "name": "pergunta18",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta18\"] }}"
            },
            {
              "name": "pergunta19",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta19\"] }}"
            },
            {
              "name": "pergunta20",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"pergunta20\"] }}"
            },
            {
              "name": "id_campo_pergunta0_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta0_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta1_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta1_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta2_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta2_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta3_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta3_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta4_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta4_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta5_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta5_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta6_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta6_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta7_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta7_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta8_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta8_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta9_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta9_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta10_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta10_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta11_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta11_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta12_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta12_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta13_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta13_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta14_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta14_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta15_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta15_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta16_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta16_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta17_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta17_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta18_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta18_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta19_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta19_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_pergunta20_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_pergunta20_bot_conversa\"] }}"
            },
            {
              "name": "id_ending_typeform",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}"
            },
            {
              "name": "id_campo_id_banco_de_dados_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_iddealac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_iddealac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_idleadac_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_idleadac_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_source_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_source_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_campaign_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_campaign_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_term_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_term_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_medium_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_medium_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_content_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_content_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_fun_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_fun_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_utm_var_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_utm_var_bot_conversa\"] }}"
            },
            {
              "name": "id_campo_instagram_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_instagram_bot_conversa\"] }}"
            },
            {
              "name": "funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"funil\"] }}"
            },
            {
              "name": "variacao_do_funil",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"variacao_do_funil\"] }}"
            },
            {
              "name": "data_ultima_quinzena",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_ultima_quinzena\"] }}"
            },
            {
              "name": "id_campo_emailse_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_emailse_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_desqualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_desqualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_tag_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "data_resposta_type",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"data_resposta_type\"]}}"
            },
            {
              "name": "id_campo_data_resposta_type_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_data_resposta_type_bot_conversa\"]}}"
            },
            {
              "name": "qualificacao",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"qualificacao\"]}}"
            },
            {
              "name": "id_lead_bd",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"]}}"
            },
            {
              "name": "id_lead_bc",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"]}}"
            },
            {
              "name": "id_tag_medio_qualificado_bot_conversa",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_tag_medio_qualificado_bot_conversa\"] }}"
            },
            {
              "name": "id_lead_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_activecampaign\"] }}"
            },
            {
              "name": "id_deal_activecampaign",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_deal_activecampaign\"] }}"
            },
            {
              "name": "id_campo_dia_aplicou_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_dia_aplicou_se\"] }}"
            },
            {
              "name": "dia_da_semana_se",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"dia_da_semana_se\"] }}"
            },
            {
              "name": "id_sdr_crm",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_sdr_crm\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c006ac4c-8f85-4d4a-8741-a6d049e5f0bb",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        440,
        1560
      ]
    },
    {
      "parameters": {
        "queue": "Não Agendamentos - Sessão - Parte 4 - Qualificado",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 3
        }
      },
      "id": "388d9e1e-669b-4dc8-a3c0-0895c20b80c4",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -2740,
        1560
      ],
      "credentials": {
        "rabbitmq": {
          "id": "LuHAjLmTOXHZ3CMW",
          "name": "[RabbitMQ] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"E-mail do Cliente\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_de_dados_crm\"] }}",
                "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}"
              },
              {
                "field": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_crm\"] }}",
                "value": "={{ $node[\"pesquisa_lead2\"].json[\"id_botconversa\"] }}"
              }
            ]
          }
        }
      },
      "id": "25cd4860-73a8-4319-9436-93867ad8b211",
      "name": "add_id_banco1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        60,
        1560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $node[\"chega_da_fila\"].json[\"content\"][\"url_api_activecampaign_crm\"] }}.api-us1.com/api/3/deals/{{ $node[\"pesquisa_lead2\"].json[\"id_deal_activecampaign\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "activeCampaignApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"deal\": {\n\"fields\": [\n{\n\"customFieldId\": {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_banco_deal_crm\"] }},\n\"fieldValue\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}\"\n},\n{\n\"customFieldId\": {{ $node[\"chega_da_fila\"].json[\"content\"][\"id_campo_id_bot_conversa_deal_crm\"] }},\n\"fieldValue\": \"{{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bc\"] }}\"\n}\n]\n}\n}",
        "options": {}
      },
      "id": "ff53e4d4-99cf-47f6-b95e-41578ba6bc03",
      "name": "atualiza_campos_deal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        1560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "1918f921-a763-45b9-ba87-2a8d48da7136",
      "name": "insert_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        960
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "dde38015-fe45-4a54-803f-60440347f01d",
      "name": "lead_ja_existia2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -980,
        1060
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "9e7f1ec0-532e-4af4-8f42-a4f0843f5467",
      "name": "insert_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        1140
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "Qualificado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "09274f2a-ce23-4bbb-b4f9-cec23a9d409a",
      "name": "qualificado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1160,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "37d6371d-2a6b-4591-b54a-7c39d19da470",
      "name": "update_qualificacao_qualificado",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -320,
        1060
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "6b9df1a6-a6c4-4319-85eb-b7eda2c81c7e",
      "name": "lead_ja_existia5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        1400
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "4925b1c3-ef94-4ff2-b83e-1a6241864772",
      "name": "insert_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        1320
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            },
            {
              "column": "qtd_leads",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes",
              "value": "=1"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "=1"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "0ce85a9b-3f1d-436c-bff4-26d73872b23c",
      "name": "insert_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        1500
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "170",
        "contactId": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead_activecampaign\"] }}"
      },
      "id": "25af32a5-7602-48b1-a7c0-259bac8df0b6",
      "name": "add_tag_medio_qualif",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -500,
        1420
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "efc8c028-076a-471a-a803-1a85d82586ee",
      "name": "update_qualificacao_qualificado2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -300,
        1420
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "=id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "843b3396-9295-46b8-90b3-7940171cbe64",
      "name": "update_data_data_lake1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        1660
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d0d27865-b77a-4909-a7bd-ada75f3a8080",
      "name": "lead_ja_existia3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        1740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_qualificadas",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes_qualificadas\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "b36df528-8c64-41cf-8d60-73302d0d6910",
      "name": "update_data_data_lake3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        1840
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "169",
        "contactId": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead_activecampaign\"] }}"
      },
      "id": "b17fb3fa-8b27-4acb-be17-30c0b017cb7e",
      "name": "add_tag_qualif",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -500,
        1720
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_ending_typeform\"] }}",
              "value2": "Qualificado"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1a3fcda0-934e-4a68-b300-672c0ae755e2",
      "name": "qualificado1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1160,
        1880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "50dbd635-7c9b-4ad6-b7d3-536ea6e7c2ba",
      "name": "update_qualificacao_qualificado4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -300,
        1720
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"verificacao_lead\"] }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "d8d1aa9b-6633-4b15-a1f0-ff37b4335b58",
      "name": "lead_ja_existia6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        2100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "e57c40e7-6c2a-4009-bf5b-73b0fd2e86c3",
      "name": "update_data_data_lake5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        2040
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_data",
        "valueToMatchOn": "={{ $node[\"pesquisa_data_data_lake\"].json[\"id_data\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "qtd_aplicacoes",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes\"] + 1 }}"
            },
            {
              "column": "qtd_aplicacoes_medias",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_aplicacoes_medias\"] + 1 }}"
            },
            {
              "column": "qtd_leads",
              "value": "={{ $node[\"pesquisa_data_data_lake\"].json[\"qtd_leads\"] + 1 }}"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "5254f042-d9c4-4188-9e4a-4939f6f1efef",
      "name": "update_data_data_lake6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -740,
        2220
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "170",
        "contactId": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead_activecampaign\"] }}"
      },
      "id": "fe61fbde-2c55-46c9-a765-5d7b49513cfe",
      "name": "add_tag_medio_qualif1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -500,
        2120
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id_lead",
        "valueToMatchOn": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead\"] }}",
        "valuesToSend": {
          "values": [
            {
              "column": "update_time",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "column": "nivel_qualificacao",
              "value": "Médio Qualificado"
            }
          ]
        },
        "options": {
          "detailedOutput": true
        }
      },
      "id": "077bf261-79cf-4cff-9041-c95b7858b628",
      "name": "update_qualificacao_qualificado5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -300,
        2120
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "169",
        "contactId": "={{ $node[\"pesquisa_lead2\"].json[\"id_lead_activecampaign\"] }}"
      },
      "id": "399fcaeb-1cf5-4b3a-a5ba-4ec7dd34ac77",
      "name": "add_tag_qualif2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -500,
        1060
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "HWAA0v3JsWI6IbdK",
          "name": "[ActiveCampaign] - Future Minds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "data_lake_ht",
          "mode": "list",
          "cachedResultName": "data_lake_ht"
        },
        "where": {
          "values": [
            {
              "column": "data",
              "value": "={{$now.toFormat('yyyy-MM-dd')}}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "1494952f-010a-44f3-a42f-b96ba4164dd9",
      "name": "pesquisa_data_data_lake",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -1700,
        1560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"id_lead_bd\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {
          "detailedOutput": false
        }
      },
      "id": "2c564d68-0b97-4b76-98cd-c148ba9397db",
      "name": "pesquisa_lead2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -2320,
        1560
      ],
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    }
  ],
  "pinData": {
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-mKIxEctGEsBgI5R60vGW7A",
            "deliveryTag": 1,
            "redelivered": false,
            "exchange": "",
            "routingKey": "Não Agendamentos - Sessão - Parte 4 - Qualificado"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "verificacao_lead": false,
            "Nome do Cliente": "Vitor Queiroz",
            "E-mail do Cliente": "vitorrqueiroztrafego@gmail.com",
            "Telefone do Cliente - Formato BC": "+5519984574874",
            "Telefone do Cliente - Formato Z-API": "5519984574874",
            "utm_content": "xxxxx",
            "utm_source": "xxxxx",
            "utm_campaign": "xxxxx",
            "utm_medium": "xxxxx",
            "utm_term": "xxxxx",
            "instagram": "",
            "id_fluxo_nao_agendou_10_min": "",
            "API-KEY": "e9072792-f5ae-4bce-8b48-f3e70109c213",
            "pergunta0": "Entre 4 e 6 anos",
            "pergunta1": "Entre R$15.000 e R$19.999",
            "pergunta2": "",
            "pergunta3": "Gerente",
            "pergunta5": "Mestrado",
            "pergunta6": "Ser promovido para o meu primeiro cargo de liderança, tanto na empresa atual como em uma nova empresa",
            "pergunta7": "Tenho pouco tempo na empresa que trabalho",
            "pergunta8": 10,
            "pergunta9": "",
            "pergunta10": "",
            "pergunta11": "",
            "pergunta12": "",
            "pergunta13": "",
            "pergunta14": "",
            "pergunta15": "",
            "pergunta16": "",
            "pergunta17": "",
            "pergunta18": "",
            "pergunta19": "",
            "pergunta20": "",
            "id_campo_pergunta0_bot_conversa": "1141321",
            "id_campo_pergunta1_bot_conversa": "1141327",
            "id_campo_pergunta2_bot_conversa": "1237033",
            "id_campo_pergunta3_bot_conversa": "1141320",
            "id_campo_pergunta4_bot_conversa": "2048353",
            "id_campo_pergunta5_bot_conversa": "1141326",
            "id_campo_pergunta6_bot_conversa": "1758470",
            "id_campo_pergunta7_bot_conversa": "2249838",
            "id_campo_pergunta8_bot_conversa": "2249840",
            "id_campo_pergunta9_bot_conversa": "",
            "id_campo_pergunta10_bot_conversa": "",
            "id_campo_pergunta11_bot_conversa": "",
            "id_campo_pergunta12_bot_conversa": "",
            "id_campo_pergunta13_bot_conversa": "",
            "id_campo_pergunta14_bot_conversa": "",
            "id_campo_pergunta15_bot_conversa": "",
            "id_campo_pergunta16_bot_conversa": "",
            "id_campo_pergunta17_bot_conversa": "",
            "id_campo_pergunta18_bot_conversa": "",
            "id_campo_pergunta19_bot_conversa": "",
            "id_campo_pergunta20_bot_conversa": "",
            "url_api_activecampaign_crm": "futureminds14016",
            "id_ending_typeform": "Qualificado",
            "id_campo_id_banco_de_dados_bot_conversa": "1333394",
            "id_campo_iddealac_bot_conversa": "1343862",
            "id_campo_idleadac_bot_conversa": "1343869",
            "id_campo_utm_source_bot_conversa": "1139617",
            "id_campo_utm_campaign_bot_conversa": "1139618",
            "id_campo_utm_term_bot_conversa": "1139619",
            "id_campo_utm_medium_bot_conversa": "1139620",
            "id_campo_utm_content_bot_conversa": "1139622",
            "id_campo_utm_fun_bot_conversa": "1374334",
            "id_campo_utm_var_bot_conversa": "1374335",
            "id_campo_instagram_bot_conversa": "",
            "funil": "sessao estrategica",
            "variacao_do_funil": "aplicacao3_com_calendly",
            "data_ultima_quinzena": "2024-05-14",
            "id_campo_emailse_bot_conversa": "1139626",
            "id_tag_desqualificado_bot_conversa": "4929805",
            "id_tag_qualificado_bot_conversa": "4891807",
            "data_resposta_type": "29/05/2024 13:52",
            "qualificacao": "Qualificado",
            "id_lead_bd": 3630,
            "id_lead_bc": 445130242,
            "id_fluxo_nao_agendou_10_min_desqualificados": "",
            "id_lead_activecampaign": "13439",
            "id_deal_activecampaign": "10545",
            "id_campo_id_banco_deal_crm": "39",
            "id_campo_id_bot_conversa_deal_crm": "71",
            "id_campo_id_banco_de_dados_crm": "106",
            "id_campo_id_bot_conversa_crm": "43",
            "id_tag_medio_qualificado_bot_conversa": "5175766",
            "id_campo_dia_aplicou_se": "",
            "dia_da_semana_se": "Quarta-feira",
            "id_sdr_crm": "24"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-04-23T23:55:46.262Z",
      "updatedAt": "2024-04-23T23:55:46.262Z",
      "id": "yNSDHOw1YJWwN8cd",
      "name": "[NAG]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-19T16:24:32.160Z",
  "versionId": "c0f9301a-aa88-4143-869e-46e43b12fbbe"
}