workflows1/💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - X1 API OFICIAL.json
{
  "active": true,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "verifica_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha2": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes2": {
      "main": [
        [
          {
            "node": "Fim1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data1": {
      "main": [
        [
          {
            "node": "le_planilha2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada1": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10s": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "contato_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_existe": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_sala_secreta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_convite_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_sala_secreta": {
      "main": [
        [
          {
            "node": "ja_agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ja_agendou": {
      "main": [
        [
          {
            "node": "separa_em_lotes2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_convite_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_convite_1": {
      "main": [
        [
          {
            "node": "10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12h": {
      "main": [
        [
          {
            "node": "verifica_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_data": {
      "main": [
        [
          {
            "node": "le_planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "le_planilha": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "separa_em_lotes": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz nada": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "contato_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_existe1": {
      "main": [
        [
          {
            "node": "pesquisa_agendamento_sala_secreta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_convite_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_agendamento_sala_secreta1": {
      "main": [
        [
          {
            "node": "ja_agendou1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ja_agendou1": {
      "main": [
        [
          {
            "node": "separa_em_lotes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "envia_convite_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_convite_2": {
      "main": [
        [
          {
            "node": "Não faz nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-03T20:23:14.491Z",
  "id": "uyeoAZYfqoFXNsAo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "💻⌚[FUTURE MINDS][WBNÁRIO] - Sala Secreta - X1 API OFICIAL",
  "nodes": [
    {
      "parameters": {},
      "id": "ecdce38a-2c81-4234-a00b-77abf80505d3",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1480,
        2260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eqLgLKa8llPgqobncYbMRT5UzyK8qlar0_UOvWn8_L0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 855821364,
          "mode": "list",
          "cachedResultName": "20240924_130056",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqLgLKa8llPgqobncYbMRT5UzyK8qlar0_UOvWn8_L0/edit#gid=855821364"
        },
        "options": {}
      },
      "id": "ec3c7149-10d6-467c-aeae-23f69fe2ece4",
      "name": "le_planilha2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -1080,
        2240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31b568ff-cefa-444c-81c9-d250266f57dd",
      "name": "separa_em_lotes2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -900,
        2240
      ]
    },
    {
      "parameters": {},
      "id": "8db5ad0c-aa6b-484c-bd12-c8d21acfa36d",
      "name": "Fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -440,
        2040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "24/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4d8cc26-f7ea-4cd4-b49d-374c529812c9",
      "name": "verifica_data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1300,
        2260
      ]
    },
    {
      "parameters": {},
      "id": "57a23a87-53b6-4304-b21a-bf150e73994e",
      "name": "Não faz nada1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        380,
        2620
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "986ecf22-d218-4ae0-8795-1d77ffa81166",
      "name": "10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        140,
        2480
      ],
      "webhookId": "e3c6c65c-a96e-4a67-a634-6440e2b2f51c"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"separa_em_lotes2\"].json[\"TELEFONE\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c23b534b-f4b9-40cf-8712-cc8112cda0b7",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.3,
      "position": [
        -640,
        2380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "81b93c26-fac1-470f-8e7a-8bf34cad3078",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id_lead\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04e139fc-1c49-474c-bf62-581e651a837c",
      "name": "contato_existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -460,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_user\"].json[\"id_lead\"] }}"
            },
            {
              "column": "servico",
              "value": "Sala Secreta"
            }
          ]
        },
        "options": {}
      },
      "id": "c06d2a30-c9de-41f6-a32b-90dd7fb8778d",
      "name": "pesquisa_agendamento_sala_secreta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.3,
      "position": [
        -260,
        2240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "81b93c26-fac1-470f-8e7a-8bf34cad3078",
              "leftValue": "={{ $node[\"pesquisa_agendamento_sala_secreta\"].json[\"id_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc471ecc-841b-4039-9ab0-709145631b7c",
      "name": "ja_agendou",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        2240
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_lotes2\"].json[\"TELEFONE\"] }}",
        "template": "convite_sala_secreta|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "Sábado"
                  },
                  {
                    "text": "28 de Setembro"
                  },
                  {
                    "text": "11h"
                  },
                  {
                    "text": "Os 3 elementos fundamentais para ser promovido todo ano"
                  },
                  {
                    "text": "https://calendly.com/lilian-cidreira/sala-secreta"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "de480ddc-b6e3-444b-ac14-4c3ea48641b9",
      "name": "envia_convite_1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -80,
        2480
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "a83604d6-e436-4795-b477-03dfd847b7f0",
      "name": "12h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1400,
        3140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6e0dc768-c500-4f44-afeb-462ab225bf6a",
              "leftValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "rightValue": "26/09/2024",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94492204-2119-4899-ad6a-0829c3441804",
      "name": "verifica_data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1220,
        3140
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eqLgLKa8llPgqobncYbMRT5UzyK8qlar0_UOvWn8_L0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 855821364,
          "mode": "list",
          "cachedResultName": "20240924_130056",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eqLgLKa8llPgqobncYbMRT5UzyK8qlar0_UOvWn8_L0/edit#gid=855821364"
        },
        "options": {}
      },
      "id": "d4ea799b-7532-4f35-93e9-24c1bc35445f",
      "name": "le_planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -1000,
        3120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rYo7W2RpqP0vZrDP",
          "name": "[Sheets] - Automagic Bots"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "db027f57-ba18-41b8-bba5-e3cc89fe5246",
      "name": "separa_em_lotes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -820,
        3120
      ]
    },
    {
      "parameters": {},
      "id": "9901019f-dec1-4a90-ba38-bf17b70bb8a5",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -360,
        2920
      ]
    },
    {
      "parameters": {},
      "id": "a5cbab09-c9ff-4a48-ae94-634604f67b15",
      "name": "Não faz nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        3500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $node[\"separa_em_lotes\"].json[\"TELEFONE\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e334137a-b7af-4989-a187-6e10711289b0",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.3,
      "position": [
        -560,
        3260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "81b93c26-fac1-470f-8e7a-8bf34cad3078",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id_lead\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bd103b4-1d42-40eb-bce6-6b22289b5392",
      "name": "contato_existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        3260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "where": {
          "values": [
            {
              "column": "id_lead",
              "value": "={{ $node[\"pesquisa_user1\"].json[\"id_lead\"] }}"
            },
            {
              "column": "servico",
              "value": "Sala Secreta"
            }
          ]
        },
        "options": {}
      },
      "id": "62c8b8a8-cbb4-49cb-9302-3bb32aa268bb",
      "name": "pesquisa_agendamento_sala_secreta1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.3,
      "position": [
        -180,
        3120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "JtvnOichfjUUmLAo",
          "name": "[MySQL] - Future Minds"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "81b93c26-fac1-470f-8e7a-8bf34cad3078",
              "leftValue": "={{ $node[\"pesquisa_agendamento_sala_secreta1\"].json[\"id_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "863f447b-4323-4c50-8a94-631e17ddcdf3",
      "name": "ja_agendou1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        3120
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "439027139283658",
        "recipientPhoneNumber": "=+{{ $node[\"separa_em_lotes\"].json[\"TELEFONE\"] }}",
        "template": "convite_sala_secreta_dois|pt_BR",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $node[\"separa_em_lotes\"].json[\"Nome\"] }}"
                  },
                  {
                    "text": "Sábado"
                  },
                  {
                    "text": "28 de Setembro"
                  },
                  {
                    "text": "11h"
                  },
                  {
                    "text": "Os 3 elementos fundamentais para ser promovido todo ano"
                  },
                  {
                    "text": "https://calendly.com/lilian-cidreira/sala-secreta"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "83263f3d-6fe5-45ef-bd0e-104bdae1caa2",
      "name": "envia_convite_2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        3360
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "7knKCf47LIvmRxue",
          "name": "[WhatsApp] - Future Minds"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zRPVyGjtTGhPaWFr"
  },
  "staticData": {
    "node:Sexta-feira - 9h": {
      "recurrencyRules": []
    },
    "node:Sábado - 10h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11h": {
      "recurrencyRules": []
    },
    "node:Sábado - 11:10h": {
      "recurrencyRules": []
    },
    "node:12h": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-02T13:10:10.005Z",
      "updatedAt": "2024-07-02T13:10:10.005Z",
      "id": "Ntg6hZ9Zxy35lAGJ",
      "name": "[CLINT]"
    },
    {
      "createdAt": "2024-09-03T13:57:16.639Z",
      "updatedAt": "2024-09-03T13:57:16.639Z",
      "id": "RKlC2cBKwmEiyN24",
      "name": "[WEBNARIO SEMANAL]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-24T18:44:33.788Z",
  "versionId": "d101d76c-1cd4-4d66-91fc-38a2bc3e49ab"
}