workflows/wBlJ2MhwTvWu0kEf.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "read api_param",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sergios Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_responses": {
      "main": [
        [
          {
            "node": "Status Check ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random": {
      "main": [
        [
          {
            "node": "CTAemail_prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTAemail_prepare": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add label: tools": {
      "main": [
        [
          {
            "node": "Remove INBOX-rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add label: receipts": {
      "main": [
        [
          {
            "node": "Remove INBOX-rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add label: CL_link": {
      "main": [
        [
          {
            "node": "Remove INBOX-rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "add label: other": {
      "main": [
        [
          {
            "node": "Remove INBOX-rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 secs": {
      "main": [
        [
          {
            "node": "Email info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email info": {
      "main": [
        [
          {
            "node": "Extract URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "api_param": {
      "main": [
        [
          {
            "node": "Existing DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read api_param": {
      "main": [
        [
          {
            "node": "api_param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read Listings": {
      "main": [
        [
          {
            "node": "Email IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email IDs": {
      "main": [
        [
          {
            "node": "email processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add \"Listing_urls\"": {
      "main": [
        [
          {
            "node": "Remove \"Inbox\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing_aux": {
      "main": [
        [
          {
            "node": "Not in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing DB": {
      "main": [
        [
          {
            "node": "Existing_aux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email processed?": {
      "main": [
        [
          {
            "node": "add \"Listing_urls\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Inbox": {
      "main": [
        [
          {
            "node": "add Listing_urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read": {
      "main": [
        [
          {
            "node": "Remove Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean up noise": {
      "main": [
        [
          {
            "node": "mark \"delete\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add label: CTA_responses": {
      "main": [
        [
          {
            "node": "Remove INBOX-rest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove \"Inbox\"": {
      "main": [
        [
          {
            "node": "add \"Read\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchSendEmails": {
      "main": [
        [
          {
            "node": "Status + Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test param": {
      "main": [
        [
          {
            "node": "Test API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test API": {
      "main": [
        [
          {
            "node": "test response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check ": {
      "main": [
        [
          {
            "node": "\"OK\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\"Removed\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API req1": {
      "main": [
        [
          {
            "node": "store_responses1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API req2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_responses1": {
      "main": [
        [
          {
            "node": "Status Check 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API req2": {
      "main": [
        [
          {
            "node": "store_responses2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API req3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_responses2": {
      "main": [
        [
          {
            "node": "Status Check 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check 1": {
      "main": [
        [
          {
            "node": "\"OK\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\"Removed\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check 2": {
      "main": [
        [
          {
            "node": "\"OK\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\"Removed\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\"Removed\"": {
      "main": [
        [
          {
            "node": "Status Removed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API req3": {
      "main": [
        [
          {
            "node": "store_responses3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_responses3": {
      "main": [
        [
          {
            "node": "Status Check 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check 3": {
      "main": [
        [
          {
            "node": "\"OK\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\"Removed\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark \"send\"": {
      "main": [
        [
          {
            "node": "SEND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "by City": {
      "main": [
        [
          {
            "node": "mark \"send\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sergios Gmail": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "read Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "by City",
            "type": "main",
            "index": 0
          },
          {
            "node": "clean up noise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API req": {
      "main": [
        [
          {
            "node": "store_responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API req1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URLs": {
      "main": [
        [
          {
            "node": "Not in DB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Wait 1 secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add label: CTA_responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add label: CL_link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add label: receipts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add label: tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add label: other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not in DB": {
      "main": [
        [
          {
            "node": "API req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\"OK\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "storeCTAemails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readCTAemails": {
      "main": [
        [
          {
            "node": "storeCTAemails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "BatchSendEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "BatchSendEmails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND": {
      "main": [
        [],
        [
          {
            "node": "readCTAemails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T03:48:09.360Z",
  "id": "wBlJ2MhwTvWu0kEf",
  "meta": null,
  "name": "Syncendtoend",
  "nodes": [
    {
      "parameters": {},
      "id": "a6ce9d9e-5e10-4446-b588-7582110291ff",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3480,
        1780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "city",
              "value": "={{ $('Extract URLs').item.json.city }}",
              "type": "string"
            },
            {
              "id": "92d1bfca-0437-4b7c-af5c-8fc8c554dedb",
              "name": "listing_id",
              "value": "={{ $('Extract URLs').item.json.listing_id }}",
              "type": "string"
            },
            {
              "id": "6f54d1dc-4684-46cb-9391-21f2d5e6712d",
              "name": "listing_url",
              "value": "={{ $('Extract URLs').item.json.listing_url }}",
              "type": "string"
            },
            {
              "id": "49f8fcfe-0072-44df-b32c-f1134f4f236e",
              "name": "listing_url_extracted_on",
              "value": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
              "type": "string"
            },
            {
              "id": "7168437d-9967-41a0-a53a-91399dbc9e1e",
              "name": "SEND",
              "value": "={{ $json.data.phone !== null ? \"SMS\" : ($json.data.email !== \"null\" ? \"Email\" : \"\") }}",
              "type": "string"
            },
            {
              "id": "50a4455a-2cae-4a39-8343-639d7c356fd4",
              "name": "cl_proxy_email",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f04e326d-2909-4940-b0c3-fe3977a0350d",
              "name": "seller_name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "749f8a33-6e6d-4f8f-bef9-f7cd5c10bbcd",
              "name": "=seller_email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "57925ff9-85c9-4f61-8759-fdd9a0d0675b",
              "name": "seller_phone",
              "value": "={{ $json.data.phone }}",
              "type": "string"
            },
            {
              "id": "9c59358f-202c-4f46-b5be-365a84865f00",
              "name": "sender_alias",
              "value": "",
              "type": "string"
            },
            {
              "id": "7dc95ebf-0f42-4223-9c2d-2ac080845725",
              "name": "initial_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "98783cd2-6229-4350-8edf-b4d98e48d060",
              "name": "last_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "3afd60bb-fb9f-4b7e-94ab-6f5121c9c9f0",
              "name": "data.auto_year",
              "value": "={{ $json.data.auto_year }}",
              "type": "string"
            },
            {
              "id": "3c2c716b-f08f-4b16-b890-e42857dcddd3",
              "name": "data.auto_make_model",
              "value": "={{ $json.data.auto_make_model }}",
              "type": "string"
            },
            {
              "id": "1da9dcc1-03b3-4e4b-af1a-07a08db837d4",
              "name": "data.postingTitle",
              "value": "={{ $json.data.postingTitle }}",
              "type": "string"
            },
            {
              "id": "6c135432-d822-49ef-8857-94a6ecf61fcf",
              "name": "data.postingBody",
              "value": "={{ $json.data.postingBody }}",
              "type": "string"
            },
            {
              "id": "bff3c269-08d5-4125-9cbc-ac1b85cdf5de",
              "name": "data.auto_vin",
              "value": "={{ $json.data.auto_vin }}",
              "type": "string"
            },
            {
              "id": "a12232b8-b465-4d4b-9423-ce07386ab0ca",
              "name": "data.auto_price",
              "value": "={{ $json.data.auto_price }}",
              "type": "string"
            },
            {
              "id": "4223dc1e-3155-4557-8366-c0c96246103f",
              "name": "data.auto_title_status",
              "value": "={{ $json.data.auto_title_status }}",
              "type": "string"
            },
            {
              "id": "4585a04f-0228-4b4d-8906-b400d7112d69",
              "name": "data.auto_miles",
              "value": "={{ $json.data.auto_miles }}",
              "type": "string"
            },
            {
              "id": "15862494-798c-4576-bd27-81d2ee217e2a",
              "name": "data.auto_fuel_type",
              "value": "={{ $json.data.auto_fuel_type }}",
              "type": "string"
            },
            {
              "id": "358c1cb9-7f41-44ef-802d-ced105e47a2f",
              "name": "data.auto_cylinders",
              "value": "={{ $json.data.auto_cylinders }}",
              "type": "string"
            },
            {
              "id": "7f6d4165-8b5d-4904-9cba-cdc6f69a99e4",
              "name": "data.auto_drivetrain",
              "value": "={{ $json.data.auto_drivetrain }}",
              "type": "string"
            },
            {
              "id": "b1706193-f8e0-4f12-8802-5c13f5b24b4c",
              "name": "data.auto_paint",
              "value": "={{ $json.data.auto_paint }}",
              "type": "string"
            },
            {
              "id": "1368bb9c-0af7-4caf-aa68-c2ed35f3cee6",
              "name": "data.auto_transmission",
              "value": "={{ $json.data.auto_transmission }}",
              "type": "string"
            },
            {
              "id": "aa7519a6-d11b-477f-b5fe-148e5bf90394",
              "name": "data.auto_bodytype",
              "value": "={{ $json.data.auto_bodytype }}",
              "type": "string"
            },
            {
              "id": "f4108195-755a-4136-b0ff-c34a1efe7c8c",
              "name": "data.imageURLs",
              "value": "={{ $json.data.imageURLs }}",
              "type": "array"
            },
            {
              "id": "2fc84c87-7c70-4719-8c46-f6ffab824d00",
              "name": "email_subject",
              "value": "={{ $('Email info').first().json.email_subject }}",
              "type": "string"
            },
            {
              "id": "a841d413-8cb2-4664-b257-7067615f87e8",
              "name": "email_body",
              "value": "={{ $('Email info').first().json.email_body }}",
              "type": "string"
            },
            {
              "id": "3aed1fd5-1be0-4b69-a1bc-3d0f438bf82a",
              "name": "email_date_received",
              "value": "={{ $('Email info').first().json.email_date_received }}",
              "type": "string"
            },
            {
              "id": "d31b7bbb-9ce1-41ac-b5ba-7e9dc49b918b",
              "name": "email_id",
              "value": "={{ $('Email info').first().json.email_id }}",
              "type": "string"
            },
            {
              "id": "328ec59a-b853-4892-ac8a-290e7e808f9c",
              "name": "email_threadId",
              "value": "={{ $('Email info').first().json.email_threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "5f0bb8e1-1907-4d7a-b8a0-762b915e0b4c",
      "name": "store_responses",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        1620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Array of 10 email addresses\nconst emailAddresses = [\n    \"BellaPuno@pm.me\",\n    \"BellaPdos@pm.me\",\n    \"BellaPtres@pm.me\",\n    \"BellaPcuatro@proton.me\",\n    \"BellaPcinco@proton.me\",\n    \"BellaPseis@proton.me\",\n    \"BellaPsiete@proton.me\",\n    \"BellaPocho@proton.me\",\n    \"BellaPnueve@proton.me\",\n    \"BellaPdiez@proton.me\"\n];\n\n// Generate a random index between 1 and 10 (inclusive)\nconst randomIndex = Math.floor(Math.random() * 10) + 1;\n\n// Select the email address using the random index\nconst selectedEmail = emailAddresses[randomIndex - 1]; // Adjust for 0-based index\n\n// Return the index and the selected email address\nreturn {\n    index: randomIndex,\n    email: selectedEmail\n};\n"
      },
      "id": "3bbcfc24-3fef-4f7e-bd7b-199991699761",
      "name": "Random",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        2160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "136a75ba-9c8f-43c7-813b-645bc2c699e7",
              "name": "toEmail",
              "value": "=sergio@sellyourcar.ai",
              "type": "string"
            },
            {
              "id": "bd9b0a4c-1bae-434b-a034-eb96ddc9e29c",
              "name": "email_subject",
              "value": "=Your {{ $('mark \"send\"').item.json.year }} {{ $(\"BatchSendEmails\").item.json[\"make-model\"].split(' ')[0] }}",
              "type": "number"
            },
            {
              "id": "b8d94ebb-65a3-473e-a0b3-79b588e9a9aa",
              "name": "=email_body",
              "value": "= {{ $node[\"storeCTAemails\"].json.emailheader}} {{ $('mark \"send\"').item.json.year }} {{ $(\"BatchSendEmails\").item.json[\"make-model\"].split(' ')[0] }} {{ $node[\"storeCTAemails\"].json.emailBody }}",
              "type": "string"
            },
            {
              "id": "04dc57c0-975b-47cb-a954-5d253d0e25ff",
              "name": "index_email_alias",
              "value": "={{ $json.index }}",
              "type": "number"
            },
            {
              "id": "6717652c-1191-4989-8fe4-23cec3deee64",
              "name": "from_email_alias",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "f0a25db9-1c2f-4e19-b781-4e951a7f3f78",
              "name": "listing_id",
              "value": "={{ $('mark \"send\"').item.json.listing_id }}",
              "type": "string"
            },
            {
              "id": "946226bd-9d02-46a0-8fd0-31f404dfc895",
              "name": "listing_url",
              "value": "={{ $('mark \"send\"').item.json.listing_url }}",
              "type": "string"
            },
            {
              "id": "fae7b2e2-5217-4f4c-8072-2cdd9501209e",
              "name": "seller_email",
              "value": "={{ $('mark \"send\"').item.json.seller_email }}",
              "type": "string"
            },
            {
              "id": "8f238a42-9c57-4643-95be-1f95142c80ed",
              "name": "cylinders",
              "value": "={{ $('mark \"send\"').item.json.cylinders }}",
              "type": "string"
            },
            {
              "id": "c41ad92d-696e-49ca-baf8-d1953f0bd015",
              "name": "drivetrain",
              "value": "={{ $('mark \"send\"').item.json.drivetrain }}",
              "type": "string"
            },
            {
              "id": "94d7af38-992d-49bd-96da-53bcb07c9283",
              "name": "transmission",
              "value": "={{ $('mark \"send\"').item.json.transmission }}",
              "type": "string"
            },
            {
              "id": "c26cbd35-c4ca-4932-9a9b-782c46b1ddcf",
              "name": "bodytype",
              "value": "={{ $('mark \"send\"').item.json.bodytype }}",
              "type": "string"
            },
            {
              "id": "5d3ed3fd-1853-48d2-b1f8-3c14b7201577",
              "name": "auto_images",
              "value": "={{ $('mark \"send\"').item.json.auto_images }}",
              "type": "array"
            },
            {
              "id": "86461496-970e-45b0-b01e-caed1d50c907",
              "name": "paint",
              "value": "={{ $('mark \"send\"').item.json.paint }}",
              "type": "string"
            },
            {
              "id": "3c2a1d7a-c8fa-41b0-868d-7496543fc5de",
              "name": "listing_url_extracted_on",
              "value": "={{ $('mark \"send\"').item.json.listing_url_extracted_on }}",
              "type": "string"
            },
            {
              "id": "35b1e9d0-3bcf-4dd7-801b-4c6a7800c7d6",
              "name": "fuel_type",
              "value": "={{ $('mark \"send\"').item.json.fuel_type }}",
              "type": "string"
            },
            {
              "id": "72e17de5-8854-4e36-92b3-10253621acb6",
              "name": "auto_vin",
              "value": "={{ $('mark \"send\"').item.json.auto_vin }}",
              "type": "string"
            },
            {
              "id": "00f5d9ce-d22d-476f-9867-f892090086bc",
              "name": "status",
              "value": "={{ $('mark \"send\"').item.json.status }}",
              "type": "string"
            },
            {
              "id": "ad1505ee-fa7c-4421-8cb4-9b659253810c",
              "name": "city",
              "value": "={{ $('mark \"send\"').item.json.city }}",
              "type": "string"
            },
            {
              "id": "67ddbc6e-e45c-405f-ae17-1fdd9df3ff59",
              "name": "year",
              "value": "={{ $('mark \"send\"').item.json.year }}",
              "type": "string"
            },
            {
              "id": "4d46fa5d-eed6-4e37-ab4c-e7c4d0bde891",
              "name": "make-model",
              "value": "={{ $('mark \"send\"').item.json['make-model'] }}",
              "type": "string"
            },
            {
              "id": "0eea4c5f-0444-4af6-a963-5b97e19ed47e",
              "name": "SEND",
              "value": "={{ $('mark \"send\"').item.json.SEND }}",
              "type": "string"
            },
            {
              "id": "645be394-876d-4adf-be25-88ade22421b8",
              "name": "posting_title",
              "value": "={{ $('mark \"send\"').item.json.posting_title }}",
              "type": "string"
            },
            {
              "id": "07134db7-5814-42f7-a568-31a19af5aebd",
              "name": "posting_body",
              "value": "={{ $('mark \"send\"').item.json.posting_body }}",
              "type": "string"
            },
            {
              "id": "a22387b9-4809-47a2-bcdc-4a39bc7c5e53",
              "name": "auto_price",
              "value": "={{ $('mark \"send\"').item.json.auto_price }}",
              "type": "string"
            },
            {
              "id": "8499e9dc-9a7d-4f57-bad6-25060e5ad582",
              "name": "title_status",
              "value": "={{ $('mark \"send\"').item.json.title_status }}",
              "type": "string"
            },
            {
              "id": "c6f772c9-0efe-4ae2-b3b6-0775f745d08a",
              "name": "miles",
              "value": "={{ $('mark \"send\"').item.json.miles }}",
              "type": "string"
            },
            {
              "id": "f0e1ccc0-a62f-45a8-9cc3-998bdc4a45ba",
              "name": "seller_name",
              "value": "={{ $('mark \"send\"').item.json.seller_name }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "c2a1c359-2869-43c9-8043-478914bfedac",
      "name": "CTAemail_prepare",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        2160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from_email_alias }}",
        "toEmail": "faustoaramirez.fr@gmail.com",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_body }}",
        "options": {
          "appendAttribution": false,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "0e809b21-2ea2-49c0-b3ed-cfbd03b2addc",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1100,
        2360
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listing_id": "={{ $json.listing_id }}",
            "status": "={{ \"Ok\" }}",
            "SEND": "={{ \"Email.DONE\" }}"
          },
          "matchingColumns": [
            "listing_id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_url",
              "displayName": "listing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "listing_url_extracted_on",
              "displayName": "listing_url_extracted_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEND",
              "displayName": "SEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cl_proxy_email",
              "displayName": "cl_proxy_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seller_email",
              "displayName": "seller_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seller_phone",
              "displayName": "seller_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_alias",
              "displayName": "sender_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_message_on",
              "displayName": "initial_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_on",
              "displayName": "last_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "make-model",
              "displayName": "make-model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posting_title",
              "displayName": "posting_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_body",
              "displayName": "posting_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "auto_vin",
              "displayName": "auto_vin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_price",
              "displayName": "auto_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title_status",
              "displayName": "title_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "miles",
              "displayName": "miles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fuel_type",
              "displayName": "fuel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cylinders",
              "displayName": "cylinders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drivetrain",
              "displayName": "drivetrain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "paint",
              "displayName": "paint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transmission",
              "displayName": "transmission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bodytype",
              "displayName": "bodytype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_images",
              "displayName": "auto_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": "={{ 1 }}",
              "firstDataRow": "={{ 2 }}"
            }
          },
          "useAppend": "={{ true }}"
        }
      },
      "id": "e83f3ba2-82c6-4ddf-b440-8d25576cbf74",
      "name": "Status + Send",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        1940
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2838653122171546890"
        ]
      },
      "id": "b66d638d-2594-487b-8066-1c6e3bcdf665",
      "name": "add label: tools",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2760
      ],
      "retryOnFail": false,
      "webhookId": "9dfaef3d-67f9-4fc6-acb2-2e5572826a55"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8979304687782068158"
        ]
      },
      "id": "45f0bd3d-7a3d-4ed6-9c90-6e8e565130b5",
      "name": "add label: receipts",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2600
      ],
      "webhookId": "4a05a41f-9077-4d38-884a-c7dfb4f926f8"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_6791890012993831639"
        ]
      },
      "id": "0d089c99-a412-42d3-9fb4-cb04cb90b808",
      "name": "add label: CL_link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2440
      ],
      "webhookId": "0f4cf925-6f6c-4275-9c01-9d1783940946"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "id": "35751ab6-4c68-46c7-a77e-5fabeaca77c7",
      "name": "Remove INBOX-rest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2000,
        2600
      ],
      "webhookId": "a8bffee3-0604-416d-bd26-163bf0c0e3db"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {
          "responseFormat": "text"
        }
      },
      "id": "f6d6a70b-014b-4277-82d9-50d1b60ea4f7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3000,
        2480
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_54595144828602402"
        ]
      },
      "id": "41877797-7631-41bf-99bc-9a7790e24f61",
      "name": "add label: other",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2920
      ],
      "webhookId": "f5cc5df0-7c40-410e-8e05-f17f07ea3df7"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f0a69792-5429-4054-bf7f-6a1ac7530da6",
      "name": "Wait 1 secs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2400,
        2120
      ],
      "webhookId": "abf3d4eb-831d-440c-b13b-6bf94f2dbc3a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15c3a38b-81f6-4405-98d3-541a8ab16453",
              "name": "email_subject",
              "value": "={{ $('Sergios Gmail').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "f4201308-4eab-4e83-8466-e809a55dd756",
              "name": "email_body",
              "value": "={{ $('Sergios Gmail').item.json.text }}",
              "type": "string"
            },
            {
              "id": "3f3c796c-2719-4f84-a2dc-75d863dfcb08",
              "name": "email_date_received",
              "value": "={{ $('Sergios Gmail').item.json.headers.date }}",
              "type": "string"
            },
            {
              "id": "3294b984-77c0-49f6-a604-42872ae7b834",
              "name": "email_id",
              "value": "={{ $('Sergios Gmail').item.json.id }}",
              "type": "string"
            },
            {
              "id": "1d48f676-d387-41f4-9c21-836c2b837d51",
              "name": "email_threadId",
              "value": "={{ $('Sergios Gmail').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fed8a23a-ca15-4336-b1dc-392583c0bf55",
      "name": "Email info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2200,
        2120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3008b87c-ebf9-4362-a537-5fbf4fe1198a",
              "name": "delay",
              "value": "={{ $json['delay (ms)'] }}",
              "type": "number"
            },
            {
              "id": "92038037-3e41-49ab-b00a-d3af61894948",
              "name": "get_images",
              "value": "={{ $json.get_images }}",
              "type": "boolean"
            },
            {
              "id": "7e308d21-1cce-4631-bf50-ef7dfde981af",
              "name": "api_port",
              "value": "={{ $json.api_port }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eef1e897-287f-4b66-831c-d0cecf1d2f11",
      "name": "api_param",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2840,
        1620
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1155242503,
          "mode": "list",
          "cachedResultName": "Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=1155242503"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B1:D2"
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnFirstMatch": true
        }
      },
      "id": "7c23382c-b036-411a-9ba0-f2b64b4383fc",
      "name": "read api_param",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3060,
        1620
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "f8298cf0-d1aa-4003-ba00-d1148f9a56df",
      "name": "read Listings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3060,
        1820
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba871235-f52f-4ac7-9c65-4872f86cb9a8",
              "name": "id",
              "value": "={{ $('Sergios Gmail').first().json.id }}",
              "type": "string"
            },
            {
              "id": "90466d49-c1b3-4d7d-a9a5-a9d12a1cc91c",
              "name": "threadId",
              "value": "={{ $('Sergios Gmail').first().json.threadId }}",
              "type": "string"
            },
            {
              "id": "15745512-4234-432d-93e9-9e50770d53b4",
              "name": "labelIds",
              "value": "={{ $('Sergios Gmail').first().json.labelIds }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "4beaa5ca-aaae-49ee-85d5-dc7c590fcef8",
      "name": "Email IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2840,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Sergios Gmail').item.json.id }}",
        "labelIds": [
          "Label_6042366710233736031"
        ]
      },
      "id": "e14685e4-0b0a-4c81-a594-4cee3c52464d",
      "name": "add \"Listing_urls\"",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3060,
        2000
      ],
      "retryOnFail": true,
      "webhookId": "5ef4285b-e51c-4950-8052-b6c5d7520d67",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Sergios Gmail').item.json.id }}"
      },
      "id": "4568a516-b053-40ff-b826-4360a21ff40c",
      "name": "add \"Read\"",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2620,
        2000
      ],
      "webhookId": "b0e39934-54ea-4f83-92dc-2f9b54afaa67"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "b023bc65-799d-475c-9119-9b6438254be1",
              "name": "city",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "6f0d6d6f-6b54-4f58-9629-6feacd440780",
              "name": "listing_id",
              "value": "={{ $json.listing_id }}",
              "type": "number"
            },
            {
              "id": "9a85c52b-a94d-4cb6-b09b-ee5989d09087",
              "name": "listing_url",
              "value": "={{ $json.listing_url }}",
              "type": "string"
            },
            {
              "id": "54af7354-77f4-4175-89a8-90ba10b94590",
              "name": "listing_url_extracted_on",
              "value": "={{ $json.listing_url_extracted_on }}",
              "type": "string"
            },
            {
              "id": "b3ea8090-6040-4743-8c0c-0bb6e214d801",
              "name": "SEND",
              "value": "={{ $json.SEND }}",
              "type": "string"
            },
            {
              "id": "d73ed69a-3869-4028-8917-9e931521ae50",
              "name": "seller_email",
              "value": "={{ $json.seller_email }}",
              "type": "string"
            },
            {
              "id": "36008464-d950-4751-8528-126d96d93638",
              "name": "seller_phone",
              "value": "={{ $json.seller_phone }}",
              "type": "string"
            },
            {
              "id": "2d65bfcf-1f18-4afc-9898-84c3d2da601b",
              "name": "seller_name",
              "value": "={{ $json.seller_name }}",
              "type": "string"
            },
            {
              "id": "ca319fd3-3fc3-42f6-b756-ea4348db3594",
              "name": "year",
              "value": "={{ $json.year }}",
              "type": "number"
            },
            {
              "id": "c895bd28-de49-4be7-91b3-e571d58ad3e8",
              "name": "make-model",
              "value": "={{ $json['make-model'] }}",
              "type": "string"
            },
            {
              "id": "ea1236e3-7f2b-4419-bfd5-b0c7e1c4f5fb",
              "name": "listing_description",
              "value": "={{ $json.listing_description }}",
              "type": "string"
            },
            {
              "id": "9537365d-6dd3-4f3e-a71d-d1d2d522d166",
              "name": "auto_vin",
              "value": "={{ $json.auto_vin }}",
              "type": "string"
            },
            {
              "id": "3dc57eb9-0d4a-4cde-9912-89b64413f5ca",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "ebe11514-92b4-42db-b577-2d0dab3cbfba",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "9d8829cd-598e-4cf1-b559-f0a75f63a279",
              "name": "mileage",
              "value": "={{ $json.mileage }}",
              "type": "number"
            },
            {
              "id": "e41d2526-9640-4d24-9825-475f7ff8fc9f",
              "name": "fuel_type",
              "value": "={{ $json.fuel_type }}",
              "type": "string"
            },
            {
              "id": "f26e858f-f129-48b3-b02b-a2f2ded89500",
              "name": "cylinders",
              "value": "={{ $json.cylinders }}",
              "type": "string"
            },
            {
              "id": "00d78891-3d10-4b67-93fc-ff284adaf835",
              "name": "drivetrain",
              "value": "={{ $json.drivetrain }}",
              "type": "string"
            },
            {
              "id": "807f323b-7dae-4d7f-bc99-576c32b5c5ef",
              "name": "paint",
              "value": "={{ $json.paint }}",
              "type": "string"
            },
            {
              "id": "64e0807d-8933-4f4a-8329-9d0425b8e9ed",
              "name": "transmission",
              "value": "={{ $json.transmission }}",
              "type": "string"
            },
            {
              "id": "f7b76c3e-54e2-4dc6-937c-f96957fb2b47",
              "name": "bodytype",
              "value": "={{ $json.bodytype }}",
              "type": "string"
            },
            {
              "id": "ed0f316b-b438-4d4d-b6e4-cf9b76054009",
              "name": "auto_images",
              "value": "={{ $json.auto_images }}",
              "type": "string"
            },
            {
              "id": "2dabb1d8-9c2a-4099-ba44-ccef01d18ae1",
              "name": "id_email",
              "value": "={{ $json.id_email }}",
              "type": "string"
            },
            {
              "id": "35caf42a-b661-4a3c-bb09-c797b0f65c44",
              "name": "search_alert_received",
              "value": "={{ $json.search_alert_received }}",
              "type": "string"
            },
            {
              "id": "d5de5fb9-453d-44c2-a762-67413dcae67e",
              "name": "search_alert_email_subject",
              "value": "={{ $json.search_alert_email_subject }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "8b45931b-1dcd-4a19-9031-e53a58b9b5f3",
      "name": "Existing_aux",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        1620
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "options": {}
      },
      "id": "33c6c700-d2c3-4cde-b0ea-ca423af24aad",
      "name": "Existing DB",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2620,
        1620
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "122f4a0e-3ab3-4046-81ea-d3ab33327f06",
              "leftValue": "={{ $('Sergios Gmail').item.json.id }}",
              "rightValue": "={{ $('read Listings').item.json.id_email }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "6dd54919-ca80-40e8-ba47-4e266ab29f8d",
      "name": "email processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2620,
        1820
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "4908a646-ec41-40bf-997c-13a03929caf8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3480,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Remove Duplicates').item.json.id_email }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "id": "7d56cf84-0701-443e-96ef-67494cabbf18",
      "name": "Remove Inbox",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -820,
        1280
      ],
      "webhookId": "8ef0ec99-918e-42ae-8f59-313847da0ac5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Remove Duplicates').item.json.id_email }}"
      },
      "id": "c5869eea-0314-474d-88eb-44000bd72750",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -600,
        1080
      ],
      "webhookId": "0d856d97-d9cb-4f1b-b8f0-bfea485101fa",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Remove Duplicates').item.json.id_email }}",
        "labelIds": [
          "Label_6042366710233736031"
        ]
      },
      "id": "e094b0e3-7c72-4647-b0db-5eb5546b8fc6",
      "name": "add Listing_urls",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -600,
        1280
      ],
      "retryOnFail": true,
      "webhookId": "5633ff30-6d12-467a-89c6-c65836b104d1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_email": "={{ $json.id_email }}",
            "search_alert_email_subject": "={{ $json.subject }}",
            "search_alert_received": "={{ $json.alert_email_received }}",
            "listing_id": "={{ $json.listing_id }}",
            "listing_url": "={{ $json.listing_url }}",
            "seller_email": "={{ $json.data.email }}",
            "cylinders": "={{ $json.data.auto_cylinders }}",
            "drivetrain": "={{ $json.data.auto_drivetrain }}",
            "mileage": "={{ $json.data.auto_miles }}",
            "title": "={{ $json.data.postingTitle }}",
            "transmission": "={{ $json.data.auto_transmission }}",
            "bodytype": "={{ $json.data.auto_bodytype }}",
            "auto_images": "={{ $json.data.imageURLs }}",
            "paint": "={{ $json.data.auto_paint }}",
            "listing_description": "={{ $json.data.postingBody }}",
            "listing_url_extracted_on": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
            "fuel_type": "={{ $json.data.auto_fuel_type }}",
            "auto_vin": "={{ $json.data.auto_vin }}",
            "status": "={{ $json.status }}",
            "city": "={{ $json.city }}",
            "year": "={{ $json.data.auto_year }}",
            "make-model": "={{ $json.data.auto_make_model }}",
            "price": "={{ $json.data.auto_price }}",
            "SEND": "={{\"delete\"}}"
          },
          "matchingColumns": [
            "listing_id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_url",
              "displayName": "listing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "listing_url_extracted_on",
              "displayName": "listing_url_extracted_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND",
              "displayName": "SEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seller_email",
              "displayName": "seller_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_phone",
              "displayName": "seller_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "make-model",
              "displayName": "make-model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_description",
              "displayName": "listing_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_vin",
              "displayName": "auto_vin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mileage",
              "displayName": "mileage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fuel_type",
              "displayName": "fuel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cylinders",
              "displayName": "cylinders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drivetrain",
              "displayName": "drivetrain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paint",
              "displayName": "paint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transmission",
              "displayName": "transmission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bodytype",
              "displayName": "bodytype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_images",
              "displayName": "auto_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_email",
              "displayName": "id_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_alert_received",
              "displayName": "search_alert_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_alert_email_subject",
              "displayName": "search_alert_email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bdba44e3-1ed4-4dcb-9388-6f2208694526",
      "name": "mark \"delete\"",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        140,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "559f0998-d4a3-45d5-9563-a64f37acb972",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "fd9f3765-1443-419e-baf2-49c9d02b160e",
              "leftValue": "={{ $json.city }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "17b98295-8c1b-45d8-888d-93265020ce02",
              "leftValue": "={{ $json.listing_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ad4927f5-6cc2-42df-97dd-0228d7b1a039",
              "leftValue": "={{ $json.listing_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "52d120b8-7b4b-4b66-8c7f-10f0de604589",
              "leftValue": "={{ $json.listing_url_extracted_on}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2e56313-d6a5-4849-8503-b74598b1a778",
      "name": "clean up noise",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8391725397093456627"
        ]
      },
      "id": "52c4e1d3-4786-4ca4-8824-d7e80f9a20c8",
      "name": "add label: CTA_responses",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2400,
        2260
      ],
      "webhookId": "ff75be75-0214-4172-b44a-957693f42dbc"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Sergios Gmail').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "id": "df70eec4-7be7-47d3-b574-2beb327b37dc",
      "name": "Remove \"Inbox\"",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2840,
        2000
      ],
      "webhookId": "dd4ef046-efda-4eaf-9fe2-31162c74d8fe"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22c6ad29-c2a9-47cf-84c2-1199d525c5b1",
      "name": "BatchSendEmails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        2140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "url",
              "value": "={{ \"https://boston.craigslist.org/nwb/cto/d/methuen-1986-acura-legend-speed-manual/7803391486.html\"\n }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "delay",
              "value": "={{ \"3000\" }}",
              "type": "string"
            },
            {
              "id": "dd43101d-8984-41de-b86c-5fc5d8a4cfde",
              "name": "images",
              "value": "={{ false }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "01baaa2e-271c-4f93-94ef-7b22deb480d1",
      "name": "test param",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        1120
      ]
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ \"http://45.63.50.167:3001/cl_listing\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $json.url }}\",\n  \"delay\": {{ $json.delay }},\n  \"images\": {{ $json.images }}\n}",
        "options": {}
      },
      "id": "9a66cb1a-02a0-4b58-9f2c-05ba6e719866",
      "name": "Test API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        1120
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "url",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "1b9daa03-1206-4eaa-b383-8b0b11280fce",
      "name": "test response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        1100
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4edc34f-181f-4bbc-ae89-d006c1ae2cb1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Ok\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c08bbc6d-5a43-4c97-9bcc-5bb99a64f322",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Removed\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Removed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "faa02cbe-dc26-497c-bbdf-673241c4927d",
      "name": "Status Check ",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1120,
        1620
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ `http://45.63.50.167:${$(\"api_param\").first().json.api_port}/cl_listing` }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $json.listing_url }}\",\n  \"delay\": {{ $(\"api_param\").first().json.delay }},\n  \"images\": {{ $(\"api_param\").first().json.get_images }}}",
        "options": {}
      },
      "id": "9c829cc8-f792-43ff-aeba-4f5e29bf72ca",
      "name": "API req1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        1880
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "city",
              "value": "={{ $('Extract URLs').item.json.city }}",
              "type": "string"
            },
            {
              "id": "92d1bfca-0437-4b7c-af5c-8fc8c554dedb",
              "name": "listing_id",
              "value": "={{ $('Extract URLs').item.json.listing_id }}",
              "type": "string"
            },
            {
              "id": "6f54d1dc-4684-46cb-9391-21f2d5e6712d",
              "name": "listing_url",
              "value": "={{ $('Extract URLs').item.json.listing_url }}",
              "type": "string"
            },
            {
              "id": "49f8fcfe-0072-44df-b32c-f1134f4f236e",
              "name": "listing_url_extracted_on",
              "value": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
              "type": "string"
            },
            {
              "id": "7168437d-9967-41a0-a53a-91399dbc9e1e",
              "name": "SEND",
              "value": "={{ $json.data.phone !== null ? \"SMS\" : ($json.data.email !== null ? \"Email\" : \"\") }}",
              "type": "string"
            },
            {
              "id": "50a4455a-2cae-4a39-8343-639d7c356fd4",
              "name": "cl_proxy_email",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f04e326d-2909-4940-b0c3-fe3977a0350d",
              "name": "seller_name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "749f8a33-6e6d-4f8f-bef9-f7cd5c10bbcd",
              "name": "=seller_email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "57925ff9-85c9-4f61-8759-fdd9a0d0675b",
              "name": "seller_phone",
              "value": "={{ $json.data.phone }}",
              "type": "string"
            },
            {
              "id": "9c59358f-202c-4f46-b5be-365a84865f00",
              "name": "sender_alias",
              "value": "",
              "type": "string"
            },
            {
              "id": "7dc95ebf-0f42-4223-9c2d-2ac080845725",
              "name": "initial_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "98783cd2-6229-4350-8edf-b4d98e48d060",
              "name": "last_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "3afd60bb-fb9f-4b7e-94ab-6f5121c9c9f0",
              "name": "data.auto_year",
              "value": "={{ $json.data.auto_year }}",
              "type": "string"
            },
            {
              "id": "3c2c716b-f08f-4b16-b890-e42857dcddd3",
              "name": "data.auto_make_model",
              "value": "={{ $json.data.auto_make_model }}",
              "type": "string"
            },
            {
              "id": "1da9dcc1-03b3-4e4b-af1a-07a08db837d4",
              "name": "data.postingTitle",
              "value": "={{ $json.data.postingTitle }}",
              "type": "string"
            },
            {
              "id": "6c135432-d822-49ef-8857-94a6ecf61fcf",
              "name": "data.postingBody",
              "value": "={{ $json.data.postingBody }}",
              "type": "string"
            },
            {
              "id": "bff3c269-08d5-4125-9cbc-ac1b85cdf5de",
              "name": "data.auto_vin",
              "value": "={{ $json.data.auto_vin }}",
              "type": "string"
            },
            {
              "id": "a12232b8-b465-4d4b-9423-ce07386ab0ca",
              "name": "data.auto_price",
              "value": "={{ $json.data.auto_price }}",
              "type": "string"
            },
            {
              "id": "4223dc1e-3155-4557-8366-c0c96246103f",
              "name": "data.auto_title_status",
              "value": "={{ $json.data.auto_title_status }}",
              "type": "string"
            },
            {
              "id": "4585a04f-0228-4b4d-8906-b400d7112d69",
              "name": "data.auto_miles",
              "value": "={{ $json.data.auto_miles }}",
              "type": "string"
            },
            {
              "id": "15862494-798c-4576-bd27-81d2ee217e2a",
              "name": "data.auto_fuel_type",
              "value": "={{ $json.data.auto_fuel_type }}",
              "type": "string"
            },
            {
              "id": "358c1cb9-7f41-44ef-802d-ced105e47a2f",
              "name": "data.auto_cylinders",
              "value": "={{ $json.data.auto_cylinders }}",
              "type": "string"
            },
            {
              "id": "7f6d4165-8b5d-4904-9cba-cdc6f69a99e4",
              "name": "data.auto_drivetrain",
              "value": "={{ $json.data.auto_drivetrain }}",
              "type": "string"
            },
            {
              "id": "b1706193-f8e0-4f12-8802-5c13f5b24b4c",
              "name": "data.auto_paint",
              "value": "={{ $json.data.auto_paint }}",
              "type": "string"
            },
            {
              "id": "1368bb9c-0af7-4caf-aa68-c2ed35f3cee6",
              "name": "data.auto_transmission",
              "value": "={{ $json.data.auto_transmission }}",
              "type": "string"
            },
            {
              "id": "aa7519a6-d11b-477f-b5fe-148e5bf90394",
              "name": "data.auto_bodytype",
              "value": "={{ $json.data.auto_bodytype }}",
              "type": "string"
            },
            {
              "id": "f4108195-755a-4136-b0ff-c34a1efe7c8c",
              "name": "data.imageURLs",
              "value": "={{ $json.data.imageURLs }}",
              "type": "array"
            },
            {
              "id": "2fc84c87-7c70-4719-8c46-f6ffab824d00",
              "name": "email_subject",
              "value": "={{ $('Email info').first().json.email_subject }}",
              "type": "string"
            },
            {
              "id": "a841d413-8cb2-4664-b257-7067615f87e8",
              "name": "email_body",
              "value": "={{ $('Email info').first().json.email_body }}",
              "type": "string"
            },
            {
              "id": "3aed1fd5-1be0-4b69-a1bc-3d0f438bf82a",
              "name": "email_date_received",
              "value": "={{ $('Email info').first().json.email_date_received }}",
              "type": "string"
            },
            {
              "id": "d31b7bbb-9ce1-41ac-b5ba-7e9dc49b918b",
              "name": "email_id",
              "value": "={{ $('Email info').first().json.email_id }}",
              "type": "string"
            },
            {
              "id": "328ec59a-b853-4892-ac8a-290e7e808f9c",
              "name": "email_threadId",
              "value": "={{ $('Email info').first().json.email_threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "568bba87-04b0-4375-bf28-b4c865d15d87",
      "name": "store_responses1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        1860
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4edc34f-181f-4bbc-ae89-d006c1ae2cb1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Ok\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c08bbc6d-5a43-4c97-9bcc-5bb99a64f322",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Removed\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Removed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "f441460b-b781-4b67-988e-bcdab1cff1c9",
      "name": "Status Check 1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1120,
        1860
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ `http://45.63.50.167:${$(\"api_param\").first().json.api_port}/cl_listing` }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $json.listing_url }}\",\n  \"delay\": {{ $(\"api_param\").first().json.delay }},\n  \"images\": {{ $(\"api_param\").first().json.get_images }}}",
        "options": {}
      },
      "id": "06c8f511-d503-450d-89dd-fe81fc339742",
      "name": "API req2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        2140
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "city",
              "value": "={{ $('Extract URLs').item.json.city }}",
              "type": "string"
            },
            {
              "id": "92d1bfca-0437-4b7c-af5c-8fc8c554dedb",
              "name": "listing_id",
              "value": "={{ $('Extract URLs').item.json.listing_id }}",
              "type": "string"
            },
            {
              "id": "6f54d1dc-4684-46cb-9391-21f2d5e6712d",
              "name": "listing_url",
              "value": "={{ $('Extract URLs').item.json.listing_url }}",
              "type": "string"
            },
            {
              "id": "49f8fcfe-0072-44df-b32c-f1134f4f236e",
              "name": "listing_url_extracted_on",
              "value": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
              "type": "string"
            },
            {
              "id": "7168437d-9967-41a0-a53a-91399dbc9e1e",
              "name": "SEND",
              "value": "={{ $json.data.phone !== null ? \"SMS\" : ($json.data.email !== null ? \"Email\" : \"\") }}",
              "type": "string"
            },
            {
              "id": "50a4455a-2cae-4a39-8343-639d7c356fd4",
              "name": "cl_proxy_email",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f04e326d-2909-4940-b0c3-fe3977a0350d",
              "name": "seller_name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "749f8a33-6e6d-4f8f-bef9-f7cd5c10bbcd",
              "name": "=seller_email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "57925ff9-85c9-4f61-8759-fdd9a0d0675b",
              "name": "seller_phone",
              "value": "={{ $json.data.phone }}",
              "type": "string"
            },
            {
              "id": "9c59358f-202c-4f46-b5be-365a84865f00",
              "name": "sender_alias",
              "value": "",
              "type": "string"
            },
            {
              "id": "7dc95ebf-0f42-4223-9c2d-2ac080845725",
              "name": "initial_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "98783cd2-6229-4350-8edf-b4d98e48d060",
              "name": "last_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "3afd60bb-fb9f-4b7e-94ab-6f5121c9c9f0",
              "name": "data.auto_year",
              "value": "={{ $json.data.auto_year }}",
              "type": "string"
            },
            {
              "id": "3c2c716b-f08f-4b16-b890-e42857dcddd3",
              "name": "data.auto_make_model",
              "value": "={{ $json.data.auto_make_model }}",
              "type": "string"
            },
            {
              "id": "1da9dcc1-03b3-4e4b-af1a-07a08db837d4",
              "name": "data.postingTitle",
              "value": "={{ $json.data.postingTitle }}",
              "type": "string"
            },
            {
              "id": "6c135432-d822-49ef-8857-94a6ecf61fcf",
              "name": "data.postingBody",
              "value": "={{ $json.data.postingBody }}",
              "type": "string"
            },
            {
              "id": "bff3c269-08d5-4125-9cbc-ac1b85cdf5de",
              "name": "data.auto_vin",
              "value": "={{ $json.data.auto_vin }}",
              "type": "string"
            },
            {
              "id": "a12232b8-b465-4d4b-9423-ce07386ab0ca",
              "name": "data.auto_price",
              "value": "={{ $json.data.auto_price }}",
              "type": "string"
            },
            {
              "id": "4223dc1e-3155-4557-8366-c0c96246103f",
              "name": "data.auto_title_status",
              "value": "={{ $json.data.auto_title_status }}",
              "type": "string"
            },
            {
              "id": "4585a04f-0228-4b4d-8906-b400d7112d69",
              "name": "data.auto_miles",
              "value": "={{ $json.data.auto_miles }}",
              "type": "string"
            },
            {
              "id": "15862494-798c-4576-bd27-81d2ee217e2a",
              "name": "data.auto_fuel_type",
              "value": "={{ $json.data.auto_fuel_type }}",
              "type": "string"
            },
            {
              "id": "358c1cb9-7f41-44ef-802d-ced105e47a2f",
              "name": "data.auto_cylinders",
              "value": "={{ $json.data.auto_cylinders }}",
              "type": "string"
            },
            {
              "id": "7f6d4165-8b5d-4904-9cba-cdc6f69a99e4",
              "name": "data.auto_drivetrain",
              "value": "={{ $json.data.auto_drivetrain }}",
              "type": "string"
            },
            {
              "id": "b1706193-f8e0-4f12-8802-5c13f5b24b4c",
              "name": "data.auto_paint",
              "value": "={{ $json.data.auto_paint }}",
              "type": "string"
            },
            {
              "id": "1368bb9c-0af7-4caf-aa68-c2ed35f3cee6",
              "name": "data.auto_transmission",
              "value": "={{ $json.data.auto_transmission }}",
              "type": "string"
            },
            {
              "id": "aa7519a6-d11b-477f-b5fe-148e5bf90394",
              "name": "data.auto_bodytype",
              "value": "={{ $json.data.auto_bodytype }}",
              "type": "string"
            },
            {
              "id": "f4108195-755a-4136-b0ff-c34a1efe7c8c",
              "name": "data.imageURLs",
              "value": "={{ $json.data.imageURLs }}",
              "type": "array"
            },
            {
              "id": "2fc84c87-7c70-4719-8c46-f6ffab824d00",
              "name": "email_subject",
              "value": "={{ $('Email info').first().json.email_subject }}",
              "type": "string"
            },
            {
              "id": "a841d413-8cb2-4664-b257-7067615f87e8",
              "name": "email_body",
              "value": "={{ $('Email info').first().json.email_body }}",
              "type": "string"
            },
            {
              "id": "3aed1fd5-1be0-4b69-a1bc-3d0f438bf82a",
              "name": "email_date_received",
              "value": "={{ $('Email info').first().json.email_date_received }}",
              "type": "string"
            },
            {
              "id": "d31b7bbb-9ce1-41ac-b5ba-7e9dc49b918b",
              "name": "email_id",
              "value": "={{ $('Email info').first().json.email_id }}",
              "type": "string"
            },
            {
              "id": "328ec59a-b853-4892-ac8a-290e7e808f9c",
              "name": "email_threadId",
              "value": "={{ $('Email info').first().json.email_threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "ca8da41b-1219-4d3e-b326-2ecd3ddfe7cd",
      "name": "store_responses2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        2120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4edc34f-181f-4bbc-ae89-d006c1ae2cb1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Ok\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c08bbc6d-5a43-4c97-9bcc-5bb99a64f322",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Removed\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Removed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "87a34e4e-65d4-4523-9b87-218a82b37dba",
      "name": "Status Check 2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1120,
        2120
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "7cafcc3a-9201-4c8f-ad80-aa9759d0e5f9",
      "name": "\"Removed\"",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -700,
        2420
      ]
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ `http://45.63.50.167:${$(\"api_param\").first().json.api_port}/cl_listing` }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $json.listing_url }}\",\n  \"delay\": {{ $(\"api_param\").first().json.delay }},\n  \"images\": {{ $(\"api_param\").first().json.get_images }}}",
        "options": {}
      },
      "id": "e2e53ef7-4c28-449e-99ed-38bc5cec0936",
      "name": "API req3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        2400
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b77348e9-67c9-497e-af21-078037d982eb",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "40c15a09-1c16-42f7-a89a-940304de2977",
              "name": "city",
              "value": "={{ $('Extract URLs').item.json.city }}",
              "type": "string"
            },
            {
              "id": "92d1bfca-0437-4b7c-af5c-8fc8c554dedb",
              "name": "listing_id",
              "value": "={{ $('Extract URLs').item.json.listing_id }}",
              "type": "string"
            },
            {
              "id": "6f54d1dc-4684-46cb-9391-21f2d5e6712d",
              "name": "listing_url",
              "value": "={{ $('Extract URLs').item.json.listing_url }}",
              "type": "string"
            },
            {
              "id": "49f8fcfe-0072-44df-b32c-f1134f4f236e",
              "name": "listing_url_extracted_on",
              "value": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
              "type": "string"
            },
            {
              "id": "7168437d-9967-41a0-a53a-91399dbc9e1e",
              "name": "SEND",
              "value": "={{ $json.data.phone !== null ? \"SMS\" : ($json.data.email !== null ? \"Email\" : \"\") }}",
              "type": "string"
            },
            {
              "id": "50a4455a-2cae-4a39-8343-639d7c356fd4",
              "name": "cl_proxy_email",
              "value": "=",
              "type": "string"
            },
            {
              "id": "f04e326d-2909-4940-b0c3-fe3977a0350d",
              "name": "seller_name",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "749f8a33-6e6d-4f8f-bef9-f7cd5c10bbcd",
              "name": "=seller_email",
              "value": "={{ $json.data.email }}",
              "type": "string"
            },
            {
              "id": "57925ff9-85c9-4f61-8759-fdd9a0d0675b",
              "name": "seller_phone",
              "value": "={{ $json.data.phone }}",
              "type": "string"
            },
            {
              "id": "9c59358f-202c-4f46-b5be-365a84865f00",
              "name": "sender_alias",
              "value": "",
              "type": "string"
            },
            {
              "id": "7dc95ebf-0f42-4223-9c2d-2ac080845725",
              "name": "initial_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "98783cd2-6229-4350-8edf-b4d98e48d060",
              "name": "last_message_on",
              "value": "",
              "type": "string"
            },
            {
              "id": "3afd60bb-fb9f-4b7e-94ab-6f5121c9c9f0",
              "name": "data.auto_year",
              "value": "={{ $json.data.auto_year }}",
              "type": "string"
            },
            {
              "id": "3c2c716b-f08f-4b16-b890-e42857dcddd3",
              "name": "data.auto_make_model",
              "value": "={{ $json.data.auto_make_model }}",
              "type": "string"
            },
            {
              "id": "1da9dcc1-03b3-4e4b-af1a-07a08db837d4",
              "name": "data.postingTitle",
              "value": "={{ $json.data.postingTitle }}",
              "type": "string"
            },
            {
              "id": "6c135432-d822-49ef-8857-94a6ecf61fcf",
              "name": "data.postingBody",
              "value": "={{ $json.data.postingBody }}",
              "type": "string"
            },
            {
              "id": "bff3c269-08d5-4125-9cbc-ac1b85cdf5de",
              "name": "data.auto_vin",
              "value": "={{ $json.data.auto_vin }}",
              "type": "string"
            },
            {
              "id": "a12232b8-b465-4d4b-9423-ce07386ab0ca",
              "name": "data.auto_price",
              "value": "={{ $json.data.auto_price }}",
              "type": "string"
            },
            {
              "id": "4223dc1e-3155-4557-8366-c0c96246103f",
              "name": "data.auto_title_status",
              "value": "={{ $json.data.auto_title_status }}",
              "type": "string"
            },
            {
              "id": "4585a04f-0228-4b4d-8906-b400d7112d69",
              "name": "data.auto_miles",
              "value": "={{ $json.data.auto_miles }}",
              "type": "string"
            },
            {
              "id": "15862494-798c-4576-bd27-81d2ee217e2a",
              "name": "data.auto_fuel_type",
              "value": "={{ $json.data.auto_fuel_type }}",
              "type": "string"
            },
            {
              "id": "358c1cb9-7f41-44ef-802d-ced105e47a2f",
              "name": "data.auto_cylinders",
              "value": "={{ $json.data.auto_cylinders }}",
              "type": "string"
            },
            {
              "id": "7f6d4165-8b5d-4904-9cba-cdc6f69a99e4",
              "name": "data.auto_drivetrain",
              "value": "={{ $json.data.auto_drivetrain }}",
              "type": "string"
            },
            {
              "id": "b1706193-f8e0-4f12-8802-5c13f5b24b4c",
              "name": "data.auto_paint",
              "value": "={{ $json.data.auto_paint }}",
              "type": "string"
            },
            {
              "id": "1368bb9c-0af7-4caf-aa68-c2ed35f3cee6",
              "name": "data.auto_transmission",
              "value": "={{ $json.data.auto_transmission }}",
              "type": "string"
            },
            {
              "id": "aa7519a6-d11b-477f-b5fe-148e5bf90394",
              "name": "data.auto_bodytype",
              "value": "={{ $json.data.auto_bodytype }}",
              "type": "string"
            },
            {
              "id": "f4108195-755a-4136-b0ff-c34a1efe7c8c",
              "name": "data.imageURLs",
              "value": "={{ $json.data.imageURLs }}",
              "type": "array"
            },
            {
              "id": "2fc84c87-7c70-4719-8c46-f6ffab824d00",
              "name": "email_subject",
              "value": "={{ $('Email info').first().json.email_subject }}",
              "type": "string"
            },
            {
              "id": "a841d413-8cb2-4664-b257-7067615f87e8",
              "name": "email_body",
              "value": "={{ $('Email info').first().json.email_body }}",
              "type": "string"
            },
            {
              "id": "3aed1fd5-1be0-4b69-a1bc-3d0f438bf82a",
              "name": "email_date_received",
              "value": "={{ $('Email info').first().json.email_date_received }}",
              "type": "string"
            },
            {
              "id": "d31b7bbb-9ce1-41ac-b5ba-7e9dc49b918b",
              "name": "email_id",
              "value": "={{ $('Email info').first().json.email_id }}",
              "type": "string"
            },
            {
              "id": "328ec59a-b853-4892-ac8a-290e7e808f9c",
              "name": "email_threadId",
              "value": "={{ $('Email info').first().json.email_threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "a7294653-fd51-460f-9a73-c2a25d49aa9f",
      "name": "store_responses3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1340,
        2380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4edc34f-181f-4bbc-ae89-d006c1ae2cb1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Ok\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c08bbc6d-5a43-4c97-9bcc-5bb99a64f322",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ \"Removed\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Removed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "7449c874-fc2a-43bd-948e-aa7d31c4998a",
      "name": "Status Check 3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1120,
        2380
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listing_id": "={{ $json.listing_id }}",
            "status": "={{ \"Removed\" }}",
            "city": "={{ $json.city }}",
            "listing_url": "={{ $json.listing_url }}",
            "listing_url_extracted_on": "={{ $json.listing_url_extracted_on }}"
          },
          "matchingColumns": [
            "listing_id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_url",
              "displayName": "listing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_url_extracted_on",
              "displayName": "listing_url_extracted_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SEND",
              "displayName": "SEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cl_proxy_email",
              "displayName": "cl_proxy_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seller_email",
              "displayName": "seller_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seller_phone",
              "displayName": "seller_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_alias",
              "displayName": "sender_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "initial_message_on",
              "displayName": "initial_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message_on",
              "displayName": "last_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "make-model",
              "displayName": "make-model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posting_title",
              "displayName": "posting_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "posting_body",
              "displayName": "posting_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_vin",
              "displayName": "auto_vin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_price",
              "displayName": "auto_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title_status",
              "displayName": "title_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "miles",
              "displayName": "miles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_type",
              "displayName": "fuel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cylinders",
              "displayName": "cylinders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drivetrain",
              "displayName": "drivetrain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "paint",
              "displayName": "paint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transmission",
              "displayName": "transmission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bodytype",
              "displayName": "bodytype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "auto_images",
              "displayName": "auto_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_email",
              "displayName": "id_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_date_received",
              "displayName": "email_date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": "={{ 1 }}",
              "firstDataRow": "={{ 2 }}"
            }
          },
          "useAppend": "={{ true }}"
        }
      },
      "id": "13a038ea-7dc2-4878-ae33-7a82b0d383df",
      "name": "Status Removed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -500,
        2420
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listing_id": "={{ $json.listing_id }}",
            "listing_url": "={{ $json.listing_url }}",
            "seller_email": "={{ $json.seller_email }}",
            "cylinders": "={{ $json.cylinders }}",
            "drivetrain": "={{ $json.drivetrain }}",
            "transmission": "={{ $json.transmission }}",
            "bodytype": "={{ $json.bodytype }}",
            "auto_images": "={{ $json.auto_images }}",
            "paint": "={{ $json.paint }}",
            "listing_url_extracted_on": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
            "fuel_type": "={{ $json.fuel_type }}",
            "auto_vin": "={{ $json.auto_vin }}",
            "status": "={{ $json.status }}",
            "city": "={{ $json.city }}",
            "year": "={{ $json.year }}",
            "make-model": "={{ $json['make-model'] }}",
            "SEND": "={{ $json.SEND }}.SEND",
            "posting_title": "={{ $json.posting_title }}",
            "posting_body": "={{ $json.posting_body }}",
            "auto_price": "={{ $json.auto_price }}",
            "title_status": "={{ $json.title_status }}",
            "miles": "={{ $json.miles }}",
            "seller_name": "={{ $json.seller_name }}"
          },
          "matchingColumns": [
            "listing_id"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_url",
              "displayName": "listing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "listing_url_extracted_on",
              "displayName": "listing_url_extracted_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND",
              "displayName": "SEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cl_proxy_email",
              "displayName": "cl_proxy_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_email",
              "displayName": "seller_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_phone",
              "displayName": "seller_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_alias",
              "displayName": "sender_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_message_on",
              "displayName": "initial_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_on",
              "displayName": "last_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "make-model",
              "displayName": "make-model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_title",
              "displayName": "posting_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_body",
              "displayName": "posting_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "auto_vin",
              "displayName": "auto_vin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_price",
              "displayName": "auto_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title_status",
              "displayName": "title_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "miles",
              "displayName": "miles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fuel_type",
              "displayName": "fuel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cylinders",
              "displayName": "cylinders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drivetrain",
              "displayName": "drivetrain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paint",
              "displayName": "paint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transmission",
              "displayName": "transmission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bodytype",
              "displayName": "bodytype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_images",
              "displayName": "auto_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_email",
              "displayName": "id_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_date_received",
              "displayName": "email_date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "696cad65-11e7-4963-98b1-ab4ce42234d6",
      "name": "mark \"send\"",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        1880
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "boston",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "boston"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true,
          "allMatchingOutputs": false
        }
      },
      "id": "249c49ff-8a5c-4c27-ab0e-9c1e131f8bd4",
      "name": "by City",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        1620
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "={{ $json.id_email }}",
        "options": {}
      },
      "id": "e74d0ff1-a005-4c19-b07d-cd745804ee9b",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        -820,
        1080
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "both"
        },
        "options": {}
      },
      "id": "c141a078-0bb5-4edc-845d-2620e52cf3d5",
      "name": "Sergios Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3300,
        2280
      ],
      "alwaysOutputData": true,
      "webhookId": "43b64200-5ec1-47f0-8a0d-1a2b4438ae34",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 330378290,
          "mode": "list",
          "cachedResultName": "Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=330378290"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listing_id": "={{ $json.listing_id }}",
            "listing_url": "={{ $json.listing_url }}",
            "seller_email": "={{ $json.seller_email }}",
            "cylinders": "={{ $json.data.auto_cylinders }}",
            "drivetrain": "={{ $json.data.auto_drivetrain }}",
            "transmission": "={{ $json.data.auto_transmission }}",
            "bodytype": "={{ $json.data.auto_bodytype }}",
            "auto_images": "={{ $json.data.imageURLs }}",
            "paint": "={{ $json.data.auto_paint }}",
            "listing_url_extracted_on": "={{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}",
            "fuel_type": "={{ $json.data.auto_fuel_type }}",
            "auto_vin": "={{ $json.data.auto_vin }}",
            "status": "={{ $json.status }}",
            "city": "={{ $json.city }}",
            "year": "={{ $json.data.auto_year }}",
            "make-model": "={{ $json.data.auto_make_model }}",
            "SEND": "={{ $json.SEND }}",
            "seller_phone": "={{ $json.seller_phone }}",
            "seller_name": "={{ $json.seller_name }}",
            "posting_title": "={{ $json.data.postingTitle }}",
            "posting_body": "={{ $json.data.postingBody }}",
            "auto_price": "={{ $json.data.auto_price }}",
            "title_status": "={{ $json.data.auto_title_status }}",
            "miles": "={{ $json.data.auto_miles }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "listing_id",
              "displayName": "listing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "listing_url",
              "displayName": "listing_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "listing_url_extracted_on",
              "displayName": "listing_url_extracted_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND",
              "displayName": "SEND",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cl_proxy_email",
              "displayName": "cl_proxy_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seller_name",
              "displayName": "seller_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_email",
              "displayName": "seller_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_phone",
              "displayName": "seller_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_alias",
              "displayName": "sender_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_message_on",
              "displayName": "initial_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_on",
              "displayName": "last_message_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "make-model",
              "displayName": "make-model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_title",
              "displayName": "posting_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "posting_body",
              "displayName": "posting_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "auto_vin",
              "displayName": "auto_vin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_price",
              "displayName": "auto_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title_status",
              "displayName": "title_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "miles",
              "displayName": "miles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fuel_type",
              "displayName": "fuel_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cylinders",
              "displayName": "cylinders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drivetrain",
              "displayName": "drivetrain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paint",
              "displayName": "paint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "transmission",
              "displayName": "transmission",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bodytype",
              "displayName": "bodytype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auto_images",
              "displayName": "auto_images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_email",
              "displayName": "id_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_date_received",
              "displayName": "email_date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "0e8ab9eb-8d14-428b-b396-39cc8e311583",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        1620
      ]
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ `http://45.63.50.167:${$(\"api_param\").first().json.api_port}/cl_listing` }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"url\": \"{{ $json.listing_url }}\",\n  \"delay\": {{ $(\"api_param\").first().json.delay }},\n  \"images\": {{ $(\"api_param\").first().json.get_images }}}",
        "options": {}
      },
      "id": "ac5f73e8-90c6-4806-9f10-1581886acc57",
      "name": "API req",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1580,
        1640
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "maxTries": 2,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();  // Fetch the input from the previous node\n\n// Regex to extract URLs\nconst urlPattern = /https?:\\/\\/[^\\s\"<>]+/g;\n\n// Function to extract listing ID from URL\nconst extractListingId = (url) => {\n  const match = url.match(/\\/(\\d+)\\.html$/);\n  return match ? match[1] : null;\n}\n\n// Function to extract the city from the subject field\nconst extractCityFromSubject = (email_subject) => {\n  const cityPattern = /cars\\+trucks \\(([^)]+)\\)/;\n  const match = email_subject.match(cityPattern);\n  return match ? match[1] : null;\n}\n\n// Function to extract and format the date and time from the x-received field\nconst extractDateTimeFromXReceived = (email_date_received) => {\n  const dateTimePattern = /(\\w{3}, \\d{2} \\w{3} \\d{4}) (\\d{2}:\\d{2}:\\d{2})/;\n  const match = email_date_received.match(dateTimePattern);\n  \n  if (match) {\n    const originalDate = new Date(`${match[1]} ${match[2]} GMT-0700`); // Convert to PDT\n    \n    // Format the date as yyyy.mm.dd\n    const formattedDate = originalDate.getFullYear() + '.' + \n                          String(originalDate.getMonth() + 1).padStart(2, '0') + '.' + \n                          String(originalDate.getDate()).padStart(2, '0');\n    \n    // Extract and format the time and append \"PDT\"\n    const formattedTime = `${match[2]} PDT`;\n    \n    return `${formattedDate} || ${formattedTime}`;\n  }\n  return null;\n}\n\n// Function to filter and process the data\nconst processData = (items) => {\n  let output = [];\n\n  items.forEach(item => {\n    const { id_email, email_subject, email_body, headers } = item.json;\n\n    // Extract the city from the subject field\n    const city = extractCityFromSubject(email_subject);\n\n    // Extract URLs from the body\n    const urls = email_body.match(urlPattern) || [];\n\n    // Filter unwanted URLs and remove duplicates\n    const validUrls = Array.from(new Set(\n      urls.filter(url => \n        !url.includes(\"/search/\") &&\n        !url.includes(\"/savesearch\") &&\n        !url.includes(\"/store/apps\") &&\n        !url.includes(\"/us/app\")\n      )\n    ));\n\n    // Extract the date and time from x-received\n  //  const email_date_received = headers[\"x-received\"];\n   // const alert_email_received = extractDateTimeFromXReceived(email_date_received);\n\n    // For each valid URL, create a new object with the additional data and listing ID\n    validUrls.forEach(url => {\n      const listing_id = extractListingId(url);  // Extract the listing ID\n      output.push({\n        id_email,\n        city,  // The city extracted from the subject\n        email_subject,\n      //  email_date_received,  // Replaces x-received\n        listing_url: url,  // Renamed from extracted_url to listing_url\n        listing_id  // Add listing ID to the output\n      });\n    });\n  });\n\n  return output;\n}\n\n// Process the input data and return the result\nconst result = processData(items);\n\n// Return the result for the next node\nreturn result;\n"
      },
      "id": "9ac55a7b-68c7-45f2-b553-1db6ff53c880",
      "name": "Extract URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        2120
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputText": "={{ $('Sergios Gmail').first().json.headers.subject }}{{ $json.headers.from }}",
        "categories": {
          "categories": [
            {
              "category": "=CL_Listings",
              "description": "=Email alerts containing (cars+trucks) in  {{ $('Sergios Gmail').first().json.headers.subject }} or containing \"CL Search Alerts\" <alerts@alerts.craigslist.org> in {{ $json.headers.from }}"
            },
            {
              "category": "=CTA_responses",
              "description": "=Email replies containing @reply.craigslist.org in {{ $json.headers.from }}"
            },
            {
              "category": "CL_login_links ",
              "description": "Emails that contain the phrase \"craigslist login link\" and does not contain \"cars+trucks\" in the {{ $('Sergios Gmail').first().json.headers.subject }}"
            },
            {
              "category": "receipts",
              "description": "=Emails containing invoices or receipts"
            },
            {
              "category": "tools",
              "description": "Email communications from platform tools like:\nGoogle, \nchatgpt, \nsendbird, \ntextline, \nn8n, \ntwilio, \npuppeteer, \npinecone, \nbaserow, \nrag, \nGoogle Cloud, \nAzure, \nAWS, \nNeo4j, \nbrightdata, \nnuclino, \ngraphy, \nremotepc, \ngoogle cloud,\ntwilio,\nslack,\nrss,\nimagekit,\ntoggl,\nlix,\ninstantly\n\n\nAlso, emails coming from sergio@sellyourcar.ai and any email that was not classified in other group. This is a catch all group."
            },
            {
              "category": "other",
              "description": "All other emails not previously categorized"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=Please classify the text provided by the user into one of the following categories: \n- cL_Listings, \n- cL_login_links,\n- sys_alerts,\n- receipts, \n- tools, \n- other \n\nDon't explain, and only output the json.",
          "enableAutoFixing": "={{ true }}"
        }
      },
      "id": "9c7c1d39-35f8-43fa-b54e-778cbead5f0c",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -2840,
        2260
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "={{ $('Existing_aux').all()[0].json.listing_id }}",
              "field2": "={{ $('Extract URLs').first().json.listing_id }}"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {
          "fuzzyCompare": true
        }
      },
      "id": "cae6f578-c50a-4057-b839-91ca6d97c407",
      "name": "Not in DB",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1840,
        1640
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "467f81d3-c68e-4246-8aea-e1057bac13d9",
      "name": "\"OK\"",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -600,
        1620
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bc786de-0d6e-4f1b-bb99-30c891109c2a",
              "name": "smsBody",
              "value": "={{ $json.smsBody }}",
              "type": "string"
            },
            {
              "id": "40d579e8-c541-42cb-96ad-e7c107a308d1",
              "name": "emailTitle",
              "value": "={{ $json.emailTitle }}",
              "type": "string"
            },
            {
              "id": "cdd1c66b-6205-4277-a9b5-5a4d797d30e2",
              "name": "emailPhoneNumber",
              "value": "={{ $json.emailPhoneNumber }}",
              "type": "string"
            },
            {
              "id": "81696799-3cbc-446e-a3d3-991791cbfb82",
              "name": "emailheader",
              "value": "={{ $json.emailheader }}",
              "type": "string"
            },
            {
              "id": "2470896f-63d4-4e8b-8114-248246a62051",
              "name": "emailBody",
              "value": "={{ $json.emailBody }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "162df6cd-06d4-4165-9d6c-c3aaae609bba",
      "name": "storeCTAemails",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        1840
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10",
          "mode": "list",
          "cachedResultName": "n8n Seller Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 934981218,
          "mode": "list",
          "cachedResultName": "Email + SMS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIesbzTICgrQRr2qB68U--LrsgAvz50ejDJ09-P1a10/edit#gid=934981218"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:I2"
            }
          },
          "returnFirstMatch": true
        }
      },
      "id": "c9ea26bf-d70c-40b3-a31d-2e1e17dbcaad",
      "name": "readCTAemails",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        1840
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": "={{ ($('Random').item.json.index/10) }}",
        "unit": "minutes"
      },
      "id": "c37e322e-8dde-453d-8acc-80f3465b3ce3",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        2360
      ],
      "webhookId": "b746f126-7405-4480-8523-4a5de6592063"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "d0a0ada7-657b-48de-8d8b-15de176cc378",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        600,
        2060
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.SEND}}",
                    "rightValue": "={{\"sms.SEND\"}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ba06f16-2158-4e6c-8b79-90bcc32070e2",
                    "leftValue": "={{ $json.SEND }}",
                    "rightValue": "={{\"Email.SEND\"}}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "59e3fade-c8be-46bd-9a71-eb284da660dd",
      "name": "SEND",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        1880
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T03:48:59.709Z",
  "versionId": "86680862-25c4-4a9d-8ef8-d6c0fb01460d"
}